[2018-12-21 08:44] jbalsas opened #3 "Consider transforming into a lerna monorepo"
As we're starting to put together the scripts and tools necessary to build our liferay-portal projects, it might be a good idea to turn this into a lerna monorepo, so we can house different packages.

Other than this one, candidates to live alongside here could be:
- [liferay-npm-bundler-preset-liferay-dev](https://github.com/julien/liferay-npm-bundler-preset-liferay-dev). Already used by this pro

[2018-12-27 18:15] diegonvs opened #2 "Create a generic watch script"
Would be cool if `liferay-npm-scripts` have a watch script like this example:

https://github.com/liferay/liferay-portal/blob/master/modules/apps/dynamic-data-mapping/dynamic-data-mapping-form-builder/watch.js

[2018-12-27 18:41] jbalsas opened #1 "Consolidate `liferay-jest-junit-reporter` output"
Based on offline conversations with @john-co who's been analyzing the way to [Organize frontend-js unit test results](https://issues.liferay.com/browse/LRQA-44612), we need to update the output of our [`liferay-jest-junit-reporter`](https://github.com/jbalsas/liferay-jest-junit-reporter) so:

https://github.com/jbalsas/liferay-jest-junit-reporter/blob/master/index.js to include <failure> tags for

[2019-01-08 18:28] #3 closed, assigned to nobody

[2019-01-22 21:45] bryceosterhaus commented on #1
Fixed https://github.com/bryceosterhaus/liferay-npm-tools/pull/4

[2019-01-22 21:45] #1 closed

[2019-01-31 07:55] pavel-savinov opened #5 "Add npm-scripts build options automatically"
Now we have to specify "liferay-npm-scripts build" options in the package.json manually, like "--soy" when we have *.soy files to compile, "--bridge" when we have JS components to export, etc.

It would be great to have only "liferay-npm-scripts build" script in the package.json file, build script can analyse the project and add specific capabilities automatically when necessary.

[2019-01-31 14:29] jbalsas opened #6 "Increase list of default build dependencies"
Currently, when using the `--bundler` option, we bring in different "import" dependencies through the [liferay-npm-bundler-preset-liferay-dev](https://github.com/bryceosterhaus/liferay-npm-tools/blob/master/packages/liferay-npm-bundler-preset-liferay-dev/config.json).

Particularly important are:
- [metal dependencies](https://github.com/bryceosterhaus/liferay-npm-tools/blob/master/packages/lifera

[2019-01-31 16:18] andresfulla opened #7 "Allow passing env params"
It'd be great to be able to pass environment variables to the build. Or have a `liferay-npm-tools start` or `liferay-npm-tools dev` task with some standardised environment variables.

My use case is a state tree logger I want to be present in development builds, but not in production ones.

[2019-01-31 18:46] diegonvs opened #8 "liferay-npm-bundler-preset-* isn't being added when the eject task is run"
Try eject https://github.com/liferay/liferay-portal/tree/master/modules/apps/flags/flags-taglib

[2019-01-31 23:05] bryceosterhaus commented on #5
Hmm, that would definitely be interesting. I have two initial concerns with that approach:

1. I want to avoid too much "magic" internally so that developers can actually see what it does at face value, rather than having to dig into the source code of the tool. When we used `metal-cli` it became an issue because users weren't able to customize the build process and it did too much magic under the

[2019-02-01 00:03] bryceosterhaus commented on #6
I looked into this briefly and I think it can be done. A few solutions I came up with, and also a few issues i noticed.

1. Default the dependency config to `["clay-*", "metal-*"]`.
2. Read the dependencies from the package.json and add those modules to the soy dependencies, or we filter those dependencies with clay- and metal- globs.

Both of these solutions seem to work, however I am a bit hesit

[2019-02-01 00:07] bryceosterhaus commented on #7
Oh interesting, so you would want to possibly build and deploy a module without having `process.env.NODE_ENV = 'production';`? This should be possible. I will probably leave `production` as default, but allow for some customization.

[2019-02-01 08:35] jbalsas commented on #6
Hey @bryceosterhaus, thanks for looking into this!

Regarding the solution... could `globs` take a bit longer to resolve than if we just listed the exact dependencies, so rather than just doing `clay-*` we can upfront list all the ones we know are available?

Unfortunately for soy, reading from the dependencies isn't enough since `--soyDeps` doesn't handle transitive dependencies. We'd need to tra

[2019-02-01 09:15] jbalsas commented on #5
Hey @bryceosterhaus, I think https://github.com/bryceosterhaus/liferay-npm-tools/issues/6#issuecomment-459646691 applies here as well.

It is true that `metal-cli` was complicated to customize. However, I wouldn't attribute that to it doing "too much magic". For example, having too many custom tools doing specific things different than industry "standards" was one of the biggest hurdles imho.

Def

[2019-02-01 18:05] bryceosterhaus commented on #6
Yeah this might help, I will check it out. Are you thinking of just duplicating the list from liferay-npm-bundler-preset-liferay-dev? I wasn't even entirely sure what those were listed for in that preset, so I will try to wrap my head around that a bit more.

Ahh this makes a lot of sense and is a good way to think about the line between to much magic but also giving developers flexibility to use

[2019-02-01 18:07] bryceosterhaus commented on #5
Good point, I'll work on finding a good middle ground that provides both "it just works" and more advanced configurations.

[2019-02-02 15:37] jbalsas opened #9 "Add Yarn Workspaces Support"
In a Yarn workspace context, most `liferay-npm-scripts` will fail to run from within the workspaces.

Using the attached simple project:
**From root folder**
- `yarn install`
- `yarn workspace Foo run build` // works!

**From packages/Foo folder**
- `npm run build` // fails!

The main problem is that `liferay-npm-scripts` is the only `devDependency` on the workspace, so yarn will only create that

[2019-02-11 23:44] bryceosterhaus commented on #9
I dug into yarn workspaces a bit and didn't necessarily find the answers I was looking for. I tried removing `npm-which` and it seems to work so far. Not sure how exactly we want to use this in the context of a portal workspace though.

here is the PR removing `npm-which` https://github.com/bryceosterhaus/liferay-npm-tools/pull/10

[2019-02-13 19:20] jbalsas commented on #9
Thanks @bryceosterhaus! I'll be trying this out with https://github.com/jbalsas/liferay-portal/pull/1646...

As a first step, the expectation is that developers could still run their tests or other scripts individually `npm run build`, `npm test`, `npm run start`... if need be, we could use `yarn` instead.

The only difference would be that with `Node.js`, `npm` is already in the global path, so t

[2019-02-13 20:30] #5 closed

[2019-02-13 20:30] #7 closed

[2019-02-13 20:32] #6 closed

[2019-02-13 20:32] #9 closed

[2019-02-19 15:39] jbalsas opened #12 "Missing `clay-charts` as an import in preset-dev"
We're currently missing the `clay-charts` import in our `preset-dev`. It is currently being added by the `frontend-taglib-chart` and it [doesn't appear in the `imports` section](https://github.com/bryceosterhaus/liferay-npm-tools/blob/master/packages/liferay-npm-bundler-preset-liferay-dev/config.json#L22)

/cc @julien

[2019-02-26 16:06] andresfulla opened #14 "Cannot run tests in watch mode"
When I run `liferay-npm-scripts test --watch` the console complains about `fsevents` module.

If I install `fsevents` to my project I can run tests in watch mode.

[2019-02-27 15:56] #12 closed

[2019-02-27 17:41] jbalsas opened #15 "Improve build (soy) dependencies resolution"
We're currently assuming all build dependencies will be available in a local `node_modules` folder. This makes it impossible to work on a workspace setting where modules can be hoisted up in the folder tree.

We could try to make use of node's own module resolution to ensure we can properly work in all scenarios.

[2019-02-27 17:41] jbalsas commented on #15
(Sending a proposal asap)

[2019-02-27 18:17] jbalsas opened #17 "Update check-source-formatting and metal-tools-soy dependencies"
There are new releases of
- `metal-tools-soy@4.3.2`
- `check-source-formatting@2.0.14`

There are also new releases of `liferay-npm-bundler` but we can skip that for now.

[2019-02-27 20:19] #15 closed

[2019-02-27 20:19] #17 closed

[2019-02-27 23:27] jbalsas opened #21 "Adapt build dependencies for a yarn workspace scenario"
One of the side-effects of moving towards a yarn workspace setup, is that all declared workspaces are available as packages in the root workspace by their package name.

That means that in our Liferay Portal setup, we can get rid of the `jsCompile` rule since every declared package would be available using Node's module resolution. For this to work, build dependencies should properly match their r

[2019-02-27 23:31] #21 closed

[2019-02-28 06:06] jbalsas opened #23 "Remove duplicated and invalid soy dependencies"
It looks like I was a bit too ambitious with my last so-called [fix for soy dependencies resolution](https://github.com/liferay/liferay-npm-tools/pull/22).

It turns out that:
- Not every portal project is safe to include in `soyDeps`. Some contain incorrect soy templates that will make the build crash. Others contain deprecated versions that will make the build crash. In essence, the build 💥
- Th

[2019-02-28 06:12] #23 closed

[2019-02-28 13:18] julien opened #25 "Update clay related dependencies to 2.9.0 in liferay-npm-bundler-preset-liferay-dev"

[2019-02-28 14:55] #25 closed

[2019-03-01 13:44] andresfulla opened #27 "Cannot run liferay-npm-scripts format for out of src tests"
I had to run `npx csf {src,test}/**/*.es.js src/**/*.scss` to get my tests formatted. I am not able to pass that config to `liferay-npm-scripts format`, and the script itself does not read `/test/` folder.

[2019-03-02 00:35] bryceosterhaus commented on #27
Hey @andresfulla, how exactly were you trying to passing it to `liferay-npm-scripts`?

Could you link me to the specific project?

[2019-03-05 11:57] p2kmgcl opened #28 "`liferay-npm-scripts lint` is not checking Soy files"
Soy files are not in config files:

https://github.com/liferay/liferay-npm-tools/blob/master/packages/liferay-npm-scripts/src/config/liferay-npm-scripts.json#L14-L20

[2019-03-05 17:03] bryceosterhaus commented on #27
Relates, https://github.com/liferay/liferay-npm-tools/pull/29#discussion_r262584950

[2019-03-12 08:25] jbalsas opened #30 "PATH is not expanded for local binaries"
When running in a workspace scenario with Yarn, depending on the module resolution, some local versions can conflict with the global ones, specially if the installed one is lower.

This currently happens with our `metal-soy@4.x` dependency when confronted with a package that uses a higher one `6.x`.

For example, it can happen that:

[code]

In the scenario above, when running `spawnSync('metalsoy

[2019-03-12 10:17] jbalsas opened #32 "Apply general formatting guidelines"
While this project is used to enforce consistent build processes like linting and formatting, it itself doesn't follow neither. We should either use `liferay-npm-tools` to lint and format itself or at the very list follow the rest of other `out-of-Portal` projects.

[2019-03-12 10:22] #30 closed

[2019-03-12 10:29] wincent commented on #32
Recent examples of current "best practice":

- Use "eslint-config-liferay" ([example](https://github.com/liferay/alloy-editor/blob/934bb406b32125a838fee438cb6f06dccb0bcc5c/package.json#L17))
- Use "prettier" ([example](https://github.com/liferay/alloy-editor/blob/934bb406b32125a838fee438cb6f06dccb0bcc5c/package.json#L43))

Example "package.json" scripts (these ones snipped from alloy-editor, but s

[2019-03-12 14:31] andresfulla opened #33 "Bundling some clay components breaks the build"
Our `.liferaynpmscriptsrc`

[code]
The moment I add `clay-list` I get errors complaining about clay components already been declared in Soy.

The when `gradlew deply -a` is ran:
[code]

It looks like Soy components get redeclare on their own dependencies.

[2019-03-20 18:14] bryceosterhaus commented on #27
@andresfulla  Is this still an issue for you? If so, can you link me to your project and the config?

[2019-03-20 22:34] bryceosterhaus commented on #33
Do you have a branch I could test this on and some steps to reproduce? I just tried to reproduce this on master for `liferay-portal/modules/apps/layout/layout-content-page-editor-web` and wasn't able to reproduce any errors.

[2019-03-21 17:13] bryceosterhaus opened #35 "Add license"

[2019-03-21 17:21] #35 closed

[2019-03-21 17:21] bryceosterhaus commented on #32
I went ahead and added `eslint-config-liferay` and using `prettier-eslint`.

[2019-03-21 17:31] wincent commented on #32
@bryceosterhaus: One thing I've found in other projects is that `prettier-eslint-cli` has some unexpected behaviors. For example, running `format` ends up being equivalent to `eslint --fix`, which is surprising to say the least (because it can do stuff like adding license headers to files; not something I expect when running prettier). So in other projects, I swapped to `prettier` directly, which

[2019-03-21 20:02] bryceosterhaus commented on #32
Yeah `prettier-eslint` essentially runs something like `prettier && eslint --fix`. I'm fine with using it that way since when I format I typically want both the prettier rules and eslint rules enforced, however, this could just be because I am used to using it this way. The last few projects I've used have all used `prettier-eslint`, clay is using it as well. I never seemed to have problems with i

[2019-03-22 07:10] wincent commented on #32
Formatting and linting should be orthogonal concerns though: formatting makes things *look* right, and linting identifies (and possibly corrects) *mistakes* or things that could lead to issues. That's why we use [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier), to turn "off all rules that are unnecessary or might conflict with Prettier"; that is, to make sure the tools

[2019-03-22 07:44] wincent commented on #32
Forgot to mention that by having the tools properly separated, we can use Prettier to format more than just JS. Like [here in liferay-js-themes-toolkit](https://github.com/liferay/liferay-js-themes-toolkit/blob/744343474eb3fd75c00ce3ef9d99cd72900797e0/package.json#L15), for example, where we use it to keep formatting errors out of our JSON and Markdown too.

[2019-03-22 14:40] andresfulla commented on #33
I’m waiting on a pull on the portal to check if this is solved. At the moment I got around the issue by declaring the bigger soy component in that file, and removing the ones contained in it.

I haven’t try to declare them again just yet.
I’ll give it a try next week.

[2019-03-22 14:41] andresfulla commented on #33
The pull updates the version of Liferay npm tools

[2019-03-22 21:51] bryceosterhaus commented on #32
Is there really ever a reason where we don't want to use eslint but we want to use prettier? For the markdown and JSON example, those can also be handled by `prettier-eslint`. I understand they have different concerns at times, but there is quite a bit of overlap with any of the `--fix` related lint rules. Personally, I've never had issues combining them, whereas in the past I have had issues wher

[2019-03-25 08:29] wincent commented on #32
It may be a bit philosophical — and I know you asked for practical reasons — but I want linting and formatting to be separate because it's more in keeping with [the Unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy) ("Write programs that do one thing and do it well", "Write programs to work together") and that enables me to choose how and when to combine them together. For example, pe

[2019-03-25 11:29] izaera opened #38 "Handle spawn errors in utils/spawnSync.js"
We are not checking for errors when executing tools like babel or the bundler so, if for any reason the tools are not available, the build continues without any failure or message at all thus creating suffering among living beings.

It would be good if we stopped the build when such errors are encountered.

[2019-03-25 17:38] jbalsas commented on #33
Hey @andresfulla, the PR to update to `yarn` and latest version of `liferay-npm-scripts` was merged. Could you retest this and ping us if it still doesn't work as expceted?

[2019-03-25 17:38] jbalsas commented on #33
Ideally, you shouldn't need a `.liferaynpmscriptsrc` file

[2019-03-25 18:23] bryceosterhaus commented on #32
haha yeah I guess at the end of the day it really just comes down to philosophy. I don't have that much attachment for `prettier-eslint` other than it just working fine for me in the past. I'm sure I can configure my dev environment to work the same with `prettier` and `eslint` separate so I'm fine with your suggestion.  I'll go ahead and re-open this issue so that we can use this for swapping out

[2019-03-25 22:37] #28 closed

[2019-03-25 22:42] bryceosterhaus commented on #32
why you gotta close my issues like that? :smile:

[2019-03-26 08:46] andresfulla commented on #33
Just tried it out with `clay-label` and it works just fine. Thanks!

[2019-03-26 08:46] #33 closed

[2019-03-26 12:47] wincent opened #40 "Released packages should have corresponding Git tags"
There are no tags in this repo, but we should be making and pushing a tag every time we make a release. If I go to the official package pages, I should be able to click the GitHub link and in this repo find the code that corresponds to the package (via the tag):

- https://www.npmjs.com/package/liferay-npm-bundler-preset-liferay-dev
- https://www.npmjs.com/package/liferay-jest-junit-reporter
- htt

[2019-03-26 12:52] wincent commented on #40
Created and pushed the tags using:

[code]

[2019-03-26 12:58] wincent commented on #40
Mentioning you here @jbalsas and @bryceosterhaus  because I think you've both cut a few releases. Should I put a reminder about tagging releases in a `CONTRIBUTING.md` at the top of the repo?

[2019-03-26 14:56] jbalsas commented on #40
❤️ Thanks @wincent! Yeah, I noticed yesterday we weren't tagging, and I'm also not sure we have a common merge strategy here either...

[2019-03-27 00:06] bryceosterhaus commented on #40
Good catch! Didn't realize it.

As for merge strategy, is there any other guidelines we follow for other projects? It'd be nice to outline general contributing rules for portal and non-portal related gh projects

[2019-03-27 10:56] wincent commented on #40
@jbalsas: When you say merge strategy, are you referring to how/when/if to merge develop and master (and in which direction)?

I know that in most but not all Liferay projects outside of portal we follow — more or less — the "Gitflow" workflow described here:

- https://nvie.com/posts/a-successful-git-branching-model/
- https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

[2019-03-27 10:58] wincent commented on #40
@julien: I don't know if you have some thoughts on branching, as you've been involved in a couple of those projects where we changed the branching model.

[2019-03-27 11:02] julien commented on #40
@wincent I like what we've been using in **alloy-editor** and **liferay-js-themes-toolkit** at least in those project where we had big changes, it was useful and easy enough for me to remember.

[2019-03-27 11:17] wincent opened #42 "feat: update Yarn, Babel, Jest dependencies"
- [x] Remove basically unused Lerna set-up.
- [x] Switch to Yarn workspaces.
- [x] Update Jest and Babel dependencies.

[2019-03-27 12:01] wincent opened #44 "fix: broken "eject" in liferay-npm-scripts"
"eject" explodes as follows:

[code]

This has been broken since 3d8ec75358ce2d0e97a83769.

[2019-03-27 12:29] #32 closed

[2019-03-27 12:29] #42 closed

[2019-03-27 12:29] #44 closed

[2019-03-27 13:19] wincent opened #47 "Evaluate continued use of "Gitflow" branching model in this repo"
Splitting this off from https://github.com/liferay/liferay-npm-tools/issues/40 where @jbalsas [said](https://github.com/liferay/liferay-npm-tools/issues/40#issuecomment-476686439):

and @bryceosterhaus said:

The purpose of this issue then, is to discuss that question and see if we want to make a change. I'll copy-paste my comment from the other issue below.

[2019-03-27 13:19] wincent commented on #40
Created https://github.com/liferay/liferay-npm-tools/issues/47 so we have a place to discuss merge strategies, and closing this one for now because there's nothing actionable remaining.

[2019-03-27 13:19] #40 closed

[2019-03-27 13:23] wincent commented on #47
Copy-pasting [my previous comment](https://github.com/liferay/liferay-npm-tools/issues/40#issuecomment-477095985) below:

-----

I know that in most but not all Liferay projects outside of portal we follow — more or less — the "Gitflow" workflow described here:

- https://nvie.com/posts/a-successful-git-branching-model/
- https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

[2019-03-27 13:43] wincent opened #48 "Add CONTRIBUTING.md"
For the timebeing, we have a pretty informal release process for the packages in this repo. There are obvious improvements that we can and should make, but for now let's start by documenting the current process.

[2019-03-27 14:15] jbalsas commented on #47
As we've discussed this for other projects, this sounds good to me, I'm not particularly committed to a specific flow, whatever's easier for us to develop and maintain 👍

[2019-03-27 15:21] wincent opened #50 "Add yarn "preversion" and "postversion" scripts to semi-automate publishing"
Based on discussion [over here](https://github.com/liferay/liferay-npm-tools/pull/49#discussion_r269610927) we might consider adding [some "postversion" scripts](https://yarnpkg.com/lang/en/docs/cli/version/) to make cutting releases a little bit easier.

They could be something like:

[code]

or something like that. You'd then publish with `yarn version --minor` etc. I am a bit scared of running

[2019-03-27 16:51] bryceosterhaus commented on #42
@wincent So does yarn workspaces essentially remove the need of lerna? I had always thought it was weird to have both coexist but I never took the time to look into it.

[2019-03-27 16:58] wincent commented on #42
Not exactly because there is some overlap between the tools.

Yarn workspaces take care of the linking between packages, and arguably does it in a much more reliable way than Lerna because it is baked right in to `yarn install`.

The thing that Lerna still does and which Yarn does not is provide a way to release all the packages at once. Having said that, in this repo, with only three packages, an

[2019-03-27 18:48] bryceosterhaus commented on #50
One issue I see with this is hardcoding the `upstream` remote. I sometimes like to use `github` at my remote name. Might not be a major issue, but I could see it coming up.

We also should probably check correct permissions to both the git repo and npm package itself. I know in the past I have run into issues when combining both if I am not logged in to the CLI or incorrect permissions.

One other

[2019-03-27 18:54] bryceosterhaus commented on #47
👍👍👍

Totally agree with this idea. Gitflow, no matter how many times I interact with repos that use it, it always confuses me or catches me off guard. It requires too much upfront knowledge and inner workings and its hard to safeguard from mistakes.

[2019-03-27 20:24] diegonvs opened #51 "[liferay-npm-scripts] is not compatible with metal-jsx babel plugin"
When trying to compile a metal-jsx module using Babel 7, I'm getting this error:

[code]

[2019-03-28 08:34] wincent commented on #51
I am wondering whether any of this is fixed by:

- https://github.com/jbalsas/liferay-portal/pull/1710
- https://github.com/jbalsas/liferay-portal/pull/1717

I am not sure if that got merged to the portal yet or not.

[2019-03-28 10:28] wincent commented on #50
Yeah, I have the same thought about `upstream`. For example, in most of my checkouts, I actually have `upstream` which uses an HTTPS URL and `upstream-rw` (read-write) that uses an SSH URL, to make it harder for me to accidentally push directly. And then there will be random clones where it ends up being `origin` or `github`. 🤦‍♂️

I think the way to make this agnostic would actually be to put in

[2019-03-28 11:01] wincent commented on #47
Sweet. I'm going to do the following:

- [ ] Fast-forward "master" to current HEAD of "develop".
- [ ] Create "stable" at same commit, just as a starting point; having "stable" may even be overkill for this repo, but the worst case scenario is that we don't find it very useful and we forget to update it. 😭
- [ ] Update "develop" by deleting everything and creating a README explaining that the bran

[2019-03-28 11:07] #48 closed

[2019-03-28 11:22] #47 closed

[2019-03-28 17:32] diegonvs commented on #51
Thanks for the infos Greg! I'll close it

[2019-03-28 17:32] #51 closed

[2019-03-29 09:07] wincent opened #53 "jest-haste-map warns about module naming collisions"
For example, in `modules/apps/layout/layout-content-page-editor-web`, `yarn test` will warn:

[code]

[2019-03-29 19:42] drewbrokke opened #55 "I'd like to configure which globs get sent to CSF"
CSF complains about not being able to find css and soy files, which makes sense because I don't have any, but I can't prevent `liferay-npm-scripts` from passing those globs to csf.

Example errors:
[code]

[2019-04-01 08:28] #38 closed

[2019-04-01 08:28] #53 closed

[2019-04-01 19:30] bryceosterhaus commented on #55
Possible solutions.

1. Add additional field in config such as `lintIgnore` which allows you to ignore certain globs.

- Pros: Not a breaking change. Explicit API
- Cons: Having both include and ignore globs can be pretty messy both for the user and for scripts themselves. Checking two globs against one another is not very easy.

2. When a user provides its own `format` and `lint` globs, we overri

[2019-04-01 21:08] jbalsas commented on #55
Based on my current fiddlings with DXPs build system I'm lining more with remove options rather than provide additional levels of freedom.

In such a big project, as we're seeing, it's easy to get misconfigured or outdated modules, wrong build configurations, unconventional project layouts or neglected formatting settings.

All in all, those were some of the reasons we kicked off this project, so

[2019-04-01 21:40] drewbrokke commented on #55
If it makes a difference, this does not break my build.  It's simply a warning I'd rather not see, so it's not mission-critical.

[2019-04-02 09:41] jbalsas opened #59 "Add bundler exclusions for common build dependencies to improve build performance"
In our current state, projects take a long time to bundle because to be safe we process all modules (no matter what) inside `node_modules`. This of course is inefficient and takes up a lot of unnecessary time and horsepower 🏇

We should compile a basic list of common offenders to improve build performance in DXP. Some packages I've observed are:

### Imported from `frontend-js-metal-web`:
- core-j

[2019-04-02 10:05] #59 closed

[2019-04-03 15:10] wincent opened #62 "spawnSync PATH manipulation not having desired effect in Yarn workspace on Windows"
(Creating this to replace the issue that I accidentally filed in the wrong repo: https://github.com/liferay/liferay-npm-build-tools/issues/302)

In liferay-portal on Windows, but apparently only on some Windows machines, we have this mysterious error during builds:

[code]

In short, `spawnSync` is trying to set the `PATH` to ensure that we use its local Babel 7, but that doesn't seem to be workin

[2019-04-03 15:36] #62 closed

[2019-04-03 16:02] wincent commented on #62
PR for updating release in liferay-portal currently up at https://github.com/jbalsas/liferay-portal/pull/1738

[2019-04-04 13:23] wincent opened #64 "Add support for running theme builds"
If you look at https://github.com/brianchandotcom/liferay-portal/pull/70792/commits/5fa16c09e89df8bac91e9f8b708f382ffe3c11ac you'll see that we are passing a long `gulp build` invocation as a package.json `"build"` script for the themes in liferay-portal. This is sufficiently complicated that we'd like to hide away the details in liferay-npm-scripts: absolutely everything in the portal should be d

[2019-04-04 14:38] andresfulla commented on #14
This works now. Thanks!!!!

[2019-04-04 14:38] #14 closed

[2019-04-05 06:09] #64 closed

[2019-04-05 06:55] wincent opened #67 "Add a shortcut to run tests in all packages"

[2019-04-05 07:33] #67 closed

[2019-04-09 09:13] jbalsas opened #69 "Setup CI"
We have Travis CI enabled for this repo, so we can now enable CI on our PRs and pushes as we see fit 😉

<img width="674" alt="Screen Shot 2019-04-09 at 11 12 55" src="https://user-images.githubusercontent.com/905006/55788415-8b5b2780-5ab8-11e9-91ec-bae3e7cbc1f8.png">

/cc @wincent

[2019-04-09 09:14] wincent commented on #69
Awesome!

[code]

[2019-04-09 14:01] izaera opened #71 "Recover original .npmbundlerrc file when bundler fails"
Right now, if the build fails, sometimes the modified `.npmbundlerrc` is left and the original one is lost. It would be great if the script could recover from such situation and restore the original `.npmbundlerrc`.

Alternatively, we could modify the `liferay-npm-bundler` (in addition to the scripts) so that it could receive the path to the `.npmbundlerrc` and that way we would execute it with a

[2019-04-09 15:46] #69 closed

[2019-04-09 15:53] wincent commented on #71
I think that would be great. I was pretty horrified — only exaggerating a *little* bit — when I saw how config merging worked in this repo by overwriting and then restoring the config files.

The "nice" thing about mutating the config is that it is left on the filesystem for you to inspect when things go wrong, but I think we can have that same benefit with a temporary config file too if we just e

[2019-04-10 16:11] wincent opened #72 "Teach liferay-npm-scripts to look for Sass dependency in top-level node_modules"
The idea is to make use of the new `--sass-include-paths` setting (which will be added to the liferay-theme-tasks in https://github.com/liferay/liferay-js-themes-toolkit/pull/306) so that we can get themes to look up Sass dependencies in the top-level "node_modules" folder in the liferay-portal repo.

This is necessitated because of changes to where/how we use font-awesome in the portal.

Internal

[2019-04-10 18:35] #72 closed

[2019-04-16 10:31] jbalsas opened #77 "Mock Liferay Environment for Jest"
We're starting to see several instances where we need a custom `jest-setup.config.js` file (or similar approach) to mock the Liferay environment prior to running tests for different modules that might depend (implicitly) on the old, global APIs.

Some examples:
- [layout-content-page-editor-web/jest-setup.config.js](https://github.com/jbalsas/liferay-portal/pull/1754/files#diff-95a0d1f6a8f899a2512

[2019-05-16 15:47] wincent opened #83 "Update array merge algorithm to work well adequately with Babel"
In testing https://github.com/liferay/liferay-npm-tools/pull/82 I've discovered at least one case where the array-merge algorithm we're using does the wrong thing:

Given "user config" from segments-web:

[code]

and merging with the defaults from this project:

[code]

we get:

[code]

which, as you can see, is missing one of the plug-ins and breaks the build.

As a reduced test case,:

- merging

[2019-05-17 10:49] #83 closed

[2019-05-17 12:02] #71 closed

[2019-05-17 12:14] wincent commented on #27
You should be able to set this up with an `npmscripts.config.js` file (something) like this in the project root:

[code]

Please let us know @andresfulla if that doesn't work for you.

In any case, we should probably audit the way different modules in liferay-portal are laying out their tests, make them all look the same, and then bake it into the default config.

[2019-05-17 12:14] #27 closed

[2019-05-17 12:22] wincent commented on #55
I believe this should be resolved now by https://github.com/liferay/liferay-npm-tools/pull/76 so I'll close this but please let me know if I'm mistaken.

[2019-05-17 12:22] #55 closed

[2019-05-20 10:15] andresfulla commented on #27
@bryceosterhaus sorry for the late response. _(I'm working on my Github notifications management abilities at this very moment)_. This is an issue for us in the [`segments/segments-web` module](https://github.com/liferay/liferay-portal/tree/master/modules/apps/segments/segments-web) in the portal.

We are at the moment using this two scripts to format our code:
[code]

@wincent while your solution

[2019-05-20 10:32] wincent commented on #27
@andresfulla:

You are effectively "overwriting" it. The "preset" entry says to use the standard default as a starting point, and you then completely replace the "lint" config with the one that I showed above. Note that we spread in the `...standardPreset.lint` config though and then add a few entries, so our "overwrite" really consists of adding some things to the end.

If we're going to add to t

[2019-05-20 10:39] andresfulla commented on #27
I see. Understood. Thanks

I don't fully understand why `.es.js` files are suffixed that way, so, no, I can't find a reason. In our module there's nothing that could go wrong adding `test/**/*.js` instead of `test/**/*.es.js`.

[2019-05-20 13:30] jbalsas commented on #27
Just for context, we decided to suffix modules with `.es.js` (wish we would've come up with `.mjs` instead 😂)  back in 2015 when we added support for ES2015 in portal as a way to detect which files would need to be transpiled and wrapped in amd declarations.

To this day, we should probably still use the convention in modules that contain old modules. In fact, those are excluded in the babel confi

[2019-05-21 22:21] matuzalemsteles opened #88 "passing env params for testing"
I do not know if by default the tests should have the env of `test` or we should just inherit the envs. This is required for Metal testing inside the portal.

[2019-05-22 07:15] wincent commented on #88
@matuzalemsteles Are you referring to `NODE_ENV` or something else?

[2019-05-22 12:33] matuzalemsteles commented on #88
Oh sorry for not being clear with this, just the `NODE_ENV`.

[2019-05-22 12:58] wincent commented on #88
Setting `NODE_ENV` to `test` seems pretty reasonable to me, and Jest [should do it by default](https://raw.githubusercontent.com/facebook/jest/4ba05b7d4c5a9f8acd75fec529da2e2543422a81/docs/GettingStarted.md):

Seems we're setting it to "production" [here](https://github.com/liferay/liferay-npm-tools/blob/ab2cc17d473637f7bd034c7940c0d7b2bde1a428/packages/liferay-npm-scripts/src/scripts/test.js#L9).

[2019-05-22 13:57] matuzalemsteles commented on #88
@wincent I think setting the `process.env` in this way will not influence the Jest call, I think we would have to configure the env of [spawnSync](https://nodejs.org/api/child_process.html#child_process_child_process_spawnsync_command_args_options) I'm not sure about this, the documentation is not very clear.

[2019-05-22 15:21] wincent commented on #88
@matuzalemsteles I think the environment is inherited automatically; try this in the `node` REPL:

[code]

You'll see:

[code]

[2019-05-22 16:06] bryceosterhaus commented on #88
@wincent I had gotten the idea from react-scripts, [here](https://github.com/facebook/create-react-app/blob/e7a2d6168a3a93ea58bafdc851eb2bbda20d5ce6/packages/react-scripts/scripts/build.js#L12). I think we can follow the same pattern and isolate it to the `build` script only though. The main idea for this would be to ensure the proper NODE_ENV for babel.

[2019-05-22 16:25] matuzalemsteles commented on #88
Thanks @wincent seems to work fine. @bryceosterhaus for the test case, do we need it in `production`? it may not be necessary for testing.

[2019-05-22 17:26] bryceosterhaus commented on #88
@matuzalemsteles it shouldn't be necessary for testing, but I think for `build` we should still have it.

[2019-05-22 17:31] matuzalemsteles commented on #88
Yeah I agree on the `build`.

[2019-05-23 09:03] wincent opened #89 "Provide better error messages for duplicate plug-ins"
We recently added `@babel/plugin-proposal-class-properties` and `@babel/plugin-proposal-object-rest-spread` to our default config. If somebody creates a `.babelrc` with the same plugins but different names (possible because Babel allows for various shorthand notations), then we will end up passing both through and Babel will complain about the duplicates.

Example case of this and [the fix here](h

[2019-05-23 16:15] bryceosterhaus commented on #89
+1

[2019-05-23 16:32] #89 closed

[2019-05-24 06:09] #88 closed

[2019-05-24 18:39] bryceosterhaus opened #93 "Swap out CSF for prettier"
We got approval to move portal's js to be formatted with prettier rather than csf. See https://github.com/brianchandotcom/liferay-portal/pull/73576

To go this route we need to make the change in `liferay-npm-scripts` and then submit a pull to portal with the updated version and running format. The prettier config will be located here in `liferay-npm-scripts` and the rules for that can be seen her

[2019-05-24 19:33] matuzalemsteles commented on #93
hey @bryceosterhaus just a question, when you say make a slow transaction of the CSF rules to eslint config, does it mean that we still have the CSF reigning during this transition?

[2019-05-29 00:35] thektan opened #94 "Add Storybook"
Related to [this thread](https://liferayproductdev.slack.com/archives/C03CAD9EF/p1558474909005200) on slack.

We've been working on a new module (not merged in master yet) and we've been using Storybook (https://storybook.js.org/) for the frontend dev environment which has been great for working/testing components in isolation.

Here's a link to the current storybook setup we have: https://github.

[2019-05-29 07:25] wincent commented on #94
Some "meta" stuff, not specifically about Storybook:

---

Just to reflect some of the context from that Slack thread here, seeing as not everyone may have permission to view that link, I'll paraphrase @jbalsas who was explaining the "no devDependencies" stance:

- We have a lint in place to stop new devDependencies being added because we want a centralized/standard decision making procedure for t

[2019-05-29 17:33] bryceosterhaus commented on #94
This brings up a pretty good point in regards to entirely vetoing devDependencies. There are almost two different types of "devDependencies", ones that are required to build(babel, webpack, typescript, etc.) and then ones used while developing(storybook, eslint, prettier, etc.). I could imagine that we might need to allow for non-build required dependencies, but not entirely sure what the best way

[2019-05-29 17:48] bryceosterhaus commented on #93
@matuzalemsteles the plan would be to entirely remove CSF and replace with prettier. And then in addition we would likely need to add eslint and use the liferay preset. We would then slowly add more rules as needed.

[2019-05-29 18:16] matuzalemsteles commented on #93
Great, thanks for information.

[2019-05-30 12:24] wincent commented on #94
BTW while you're here @bryceosterhaus, given that you've been using Storybook in Clay, do you have any specific feedback or recommendations about it here?

[2019-05-30 16:18] bryceosterhaus commented on #94
Sorry I was probably a bit too hasty in lumping in eslint and prettier to the same category as storybook and probably didn't explain myself well. What I was trying to express was that there are dependencies that do not get shipped with the app OR are used in packaging the app. My main point I was trying to express is that we might need a category to define external dependencies that are used in a

[2019-05-30 17:25] thektan commented on #94
If we do add storybook, +1 to having a new script `liferay-npm-scripts storybook` to standardize configurations since if other portlets used storybook as well, they'd most likely have similar configurations (while still allowing portlet-specific configurations).

[2019-05-30 18:12] bryceosterhaus commented on #94
Also one additional reason I can see us allowing for storybook is that we set an example of using it with clay. When teams decide to create their own react components, they will likely look at our storybook site for examples.

[2019-05-31 08:48] wincent opened #95 "Add "test/**/*.js" configuration to standard preset"
Internal ticket for this: https://issues.liferay.com/browse/LPS-95744

We don't have many frontend tests in liferay-portal yet, but as we add them, we're finding that we need to configure explicitly otherwise they don't get linted/formatted.

So, task here is to:

- Add standard "test/**/*.js" paths to the default preset.
- Cut a liferay-npm-scripts release.
- Make sure all tests in liferay-portal

[2019-06-03 09:39] #93 closed

[2019-06-03 10:04] wincent opened #98 "Restore .soy and .jsp formatting"
In #96 we replaced `csf` with `prettier` and in the process temporarily dropped support for formatting ".soy" and ".jsp" files.

That's ok as a temporary thing in the name of expediency because we have a limited window of opportunity to roll out a big change like switching to Prettier in liferay-portal. Having said that, we should go back and probably re-add "csf" just for the purposes of formatti

[2019-06-04 09:03] wincent commented on #95
FWIW: "test" isn't used super commonly in liferay-portal, but it is used in some places. For example, in the "modules/apps" directory, I ran `find . -type d -depth 2 -exec sh -c 'echo {}; ls {} | egrep "src|test"' \;` to get a list of all apps and show whether they had "src" and/or "test" directories. Full output is [here](https://gist.github.com/wincent/ca73209de915545f7aba729c21165527). You can

[2019-06-04 09:59] wincent commented on #95
Confirmed with @jbalsas and @julien that top-level "tests/" is the place we want things to be.

- PR updating the globs: https://github.com/liferay/liferay-npm-tools/pull/103
- PR removing some dead tests that were in the wrong place: https://github.com/brunobasto/liferay-portal/pull/1036
- PR moving some other tests that were in the wrong place (these were the only other ones): https://github.com

[2019-06-04 11:36] #95 closed

[2019-06-04 19:29] thektan opened #105 "Support async/await in jest tests"
When using async/await in tests the following error is thrown:
[code]

## Possible Solutions

### Option 1
According to [Jest docs](https://jestjs.io/docs/en/tutorial-async#async-await):

In `.babelrc`
[code]
(Sources: https://github.com/facebook/jest/issues/3126#issuecomment-483320742, https://github.com/babel/babel/issues/7601#issuecomment-374566429)

### Option 2
Installing `@babel/plugin-trans

[2019-06-04 21:15] matuzalemsteles opened #106 "Generate the `soy.js` for the tests"
There is a case of the Forms team that they need create `.soy` files inside the tests folder and for this npm-scripts need to look there to be able to generate the `.soy.js` files.

We just look at the `src` folder, maybe we should add a glob?

https://github.com/liferay/liferay-npm-tools/blob/master/packages/liferay-npm-scripts/src/presets/standard/index.js#L14

[2019-06-05 13:35] jbalsas commented on #94
Hey guys, thanks for the conversation!

I think this is indeed something worth standardizing for all frontend at least in DXP.

@thektan, @bryceosterhaus, would you mind working on a proposal for this in line of the other commons we have? Please, try to be opinionated for these things. I know our natural tendency is the opposite, but let's see what would be a minimal, satisfactory set and start fr

[2019-06-05 16:39] wincent commented on #106
I think we should be careful about adding that to the default. A lower-risk version would be to add an `npmscripts.config.js` file to the forms project only, with a pretty specific path. Perhaps that is what you meant. In any case, I would want to make sure that it doesn't have any other unintended side-effects (because there are [multiple tools that end up using that "build" glob](https://github.

[2019-06-05 17:01] wincent opened #107 "Rename files to match naming conventions"
As described [here](https://github.com/liferay/liferay-frontend-guidelines/blob/master/guidelines/general/file_names.md).

[2019-06-05 17:02] matuzalemsteles commented on #106
Yeah, maybe that'll work out. One problem is that the structure of the tests are in the root of the module along with `src`, if it were to solve this with the path it would be something like: `./` probably would have problems, it would generate the `.soy` files of classes and dependencies in `node_modules` that we probably did not want.

[code]

[2019-06-05 17:15] wincent commented on #106
Can youy provide a link to the module and files you're talking about? Our tests are supposed to be in a standard location ("test/", next to "src/"), in the top level of the module (see: https://github.com/liferay/liferay-npm-tools/pull/103 and https://github.com/liferay/liferay-npm-tools/issues/95).

[2019-06-05 17:18] matuzalemsteles commented on #106
Yeah, they're at the top level of the module.
https://github.com/liferay/liferay-portal/tree/master/modules/apps/dynamic-data-mapping/dynamic-data-mapping-form-web

[2019-06-06 00:08] thektan opened #108 "Add @testing-library/react and jest-dom"
Proposal to add the following devDependencies:
- @testing-library/react (https://github.com/testing-library/react-testing-library)
- jest-dom (https://github.com/testing-library/jest-dom)

Both of these libraries provide useful utilities while writing tests.

**React testing library** allows for easier testing in the DOM and I currently agree with the philosophy of the library: "The more your test

[2019-06-06 13:46] andresfulla commented on #108
Both tools have been very useful for us in `segments-web`. Writing tests has been relatively easy and we have more confidence applying any change. Both libraries are hight quality and have healthy communities.

I don't think we are making the most of it, so the more people uses it within the company, the more value this gives us.

@dgarciasarai has been using it too

[2019-06-06 14:30] dgarciasarai commented on #108
I think that's a great idea! :)
I have been using it for a few months since I started working with React and I was capable of writing tests easily. We can't forget to check the tests before sending new features or bug fixes because, with that little action, we can avoid future bugs and unexpected behavior.

Thanks @thektan! 👍

[2019-06-06 14:34] wincent commented on #108
@andresfulla or @dgarciasarai: can one of you link to what you think is an example of a good test that you've written?

I personally haven't used ~`react-testing-library`~ `@testing-library/react` but from what I've seen of it it looks pretty good.

[2019-06-06 15:34] andresfulla commented on #108
I wouldn't tag any of them as good, but:
- [SegmentsEdit.es.js](https://github.com/andresfulla/liferay-portal/blob/master/modules/apps/segments/segments-web/test/js/components/segment_edit/SegmentEdit.es.js) helps us control initial state changes.
- [LocalizedInput.es.js](https://github.com/andresfulla/liferay-portal/blob/master/modules/apps/segments/segments-web/test/js/components/title_editor/Lo

[2019-06-06 17:06] wincent commented on #108
@thektan: I turned the title prefix into an actual tag and I'll update the guidelines accordingly.

[2019-06-06 17:06] wincent commented on #94
@thektan: I turned the title prefix into an actual tag and I'll update the guidelines accordingly.

[2019-06-06 19:07] thektan commented on #94
@bryceosterhaus @jbalsas I'll start working on a proposal for this.

[2019-06-07 08:28] wincent opened #109 "Make it possible to run ESLint"
For overall goal, see: https://issues.liferay.com/browse/LPS-96565

This specific issue, though, corresponds to the first step: https://issues.liferay.com/browse/LPS-96566

We want a way to separately run ESLint inside portal so that we can get a sense of how many lint violations it is going to catch. Depending on the volume/nature of the violations, that will guide our next steps.

[2019-06-07 09:42] wincent opened #110 "Adjust command and config names for consistency"
Will be a breaking change, so sticking in v3.0.0 milestone.

Let's take the opportunity to make the naming as consistent as possible across liferay-portal, liferay-npm-scripts, and our other GitHub projects.

### Current status

- liferay-portal defines gradle tasks:
  - formatSource (fixes everything: formatting and lints)
  - checkSourceFormatting (checks everything: formatting and lints)
- life

[2019-06-07 12:03] #110 closed

[2019-06-07 16:12] bryceosterhaus commented on #110
😂

[2019-06-10 07:17] wincent opened #114 "Make files match guidelines"
These: https://github.com/liferay/liferay-frontend-guidelines/blob/master/guidelines/general/file_names.md

[2019-06-10 07:29] wincent commented on #114
Whoops this is a duplicate of #107, which I created 5 days ago but forgot. 🤦‍♂️

[2019-06-10 07:29] #114 closed

[2019-06-10 09:27] #107 closed

[2019-06-12 11:17] wincent opened #117 "Update frontend guidelines formatting documentation"
This is just a reminder to update https://github.com/liferay/liferay-frontend-guidelines/blob/master/guidelines/dxp/formatting.md once the next version of liferay-npm-scripts has been added to liferay-portal.

- `liferay-npm-scripts lint` is now `liferay-npm-scripts check`
- `liferay-npm-scripts format` is now `liferay-npm-scripts fix`

[2019-06-12 13:03] wincent commented on #105
Given that we currently use Node v10.15.1 in liferay-portal (which has native `async`/`await` support), it would be nice to see how far we can get with "Option 1", because it means Babel will skip some of the heavier-weight transforms that it does (including relying on the regenerator runtime).

[2019-06-12 15:07] #109 closed

[2019-06-12 15:16] wincent commented on #117
Done: https://github.com/liferay/liferay-frontend-guidelines/pull/30

[2019-06-12 15:16] #117 closed

[2019-06-12 22:04] thektan commented on #105
@wincent It looks like we could do something like this example from the [jest docs](https://jestjs.io/docs/en/getting-started):

[code]

We also might need to add `jest-babel` and `@babel/core`? The docs also say:

[code]

[2019-06-17 14:37] wincent opened #118 "Update ESLint config to not choke on JSX, Object Rest Spread, or static class properties"
Needed to avoid errors like this (caused by object rest spread):

    error  Parsing error: Unexpected token ..

or (caused by JSX):

    error  Parsing error: Unexpected token <

or (caused by static class properties):

    error  Parsing error: Unexpected token =

[2019-06-17 15:01] #118 closed

[2019-06-27 16:40] john-co opened #136 "Include the module name at the end of the classname when generating TEST-frontend-js.xml"
Modify TEST-frontend-js.xml output to include the module name within testcase classname.

See https://github.com/john-co/liferay-portal/pull/140/commits/f618e23fc0dace5a91995c01dba47926faac4f2b

[2019-06-27 16:50] john-co opened #137 "jenkins is reporting js-unit tests twice"
see example: https://test-1-3.liferay.com/job/test-portal-acceptance-pullrequest-batch(master)/322879/AXIS_VARIABLE=0,label_exp=!master/testReport/frontend-taglib.frontend-taglib-clay.test/management_toolbar/

[2019-06-27 23:09] thektan commented on #108
@jbalsas @wincent What would be the next steps to be able to reach some sort of conclusion? I can send a PR to add these to portal whenever I get the go-ahead (or start refactoring if we decide not to add these).

[2019-06-28 10:37] jbalsas commented on #108
Hey @thektan, thanks for the reminder! I think this got lost here as we're trying to move our standardization process to https://github.com/liferay/liferay-frontend-guidelines/tree/master/guidelines.

I've filed https://github.com/liferay/liferay-frontend-guidelines/issues/49 so we can work on that. We will be working on the next couple of weeks on the react developer experience in DXP, so I think

[2019-06-28 10:37] #108 closed

[2019-06-28 19:15] jbalsas opened #139 "Missing `@babel/preset-react` from bundled presets"
We currently don't bundle any @babel preset for compiling react. Right now, segments-web is using [`@babel/preset-react: ^7.0.0`](https://github.com/liferay/liferay-portal/blob/master/modules/apps/segments/segments-web/package.json#L22) and other projects are starting to use it. Since we don't allow having `devDependencies`,  they need it somewhere.

I assume we should bundle it with `npm-scripts`

[2019-07-01 10:03] wincent commented on #136
@john-co: can you help me understand a bit what this issue is about?

The module name is already in the classname; in the example you gave, I see you added ".[frontend-taglib]" at the end, but it is already in the name, at the start ("frontend-taglib.frontend-taglib-clay.test.management_toolbar").

The code that extracts it is [here](https://github.com/liferay/liferay-npm-tools/blob/3aabc3bb09cfc4

[2019-07-01 10:06] wincent commented on #137
Looking in [the console output](https://test-1-3.liferay.com/job/test-portal-acceptance-pullrequest-batch(master)/322879/AXIS_VARIABLE=0,label_exp=!master/consoleText) for that run, I see the ManagementToolbar tests running exactly once:

[code]

Could it be that something outside of `jest-junit-reporter` is cause the results to appear twice? Something in the `merge-test-results` task?

[2019-07-01 10:20] wincent commented on #139
That sounds right to me, just like we bundle the necessary webpack-related stuff with `liferay-npm-scripts`, we should bundle everything needed by Babel to address the common use cases in liferay-portal.

[2019-07-01 15:50] john-co commented on #136
Hi @wincent,

Adding a .${string} at the end of the classname provides the proposed test result output in the screenshot below:

![Selection_029](https://user-images.githubusercontent.com/35235266/60449273-235e3e00-9bdc-11e9-8f49-94a56a49d68e.png)
Left side is proposed, right side is current.

A live example can be found here: https://github.com/john-co/liferay-portal/pull/141

It doesn't matter w

[2019-07-03 12:26] wincent commented on #105
Closing this because I am about to cut a release, so this will go to liferay-portal master today (at least, I'll submit the PR today).

[2019-07-03 12:26] #105 closed

[2019-07-08 09:38] #139 closed

[2019-07-10 07:34] wincent commented on #98
Created corresponding internal ticket for this here: https://issues.liferay.com/browse/LPS-98032

See also [this comment](https://github.com/brianchandotcom/liferay-portal/pull/75474#issuecomment-509839687) from Brian, which is about sorting params in soy templates — I am not sure whether `csf` was ever able to do that, but if it was, then reactivating it for ".soy" files should take care of it, a

[2019-07-10 15:41] john-co commented on #136
Hi @wincent, let me know if you need more context.

[2019-07-11 13:44] wincent opened #162 "chore: remove DDM-specific special-casing from getJestModuleNameMapper"
Once the corresponding internal ticket [LPS-98114](https://issues.liferay.com/browse/LPS-98114) is dealt with, DDM will have package.json files with existing "main" entry points, so we'll be able to delete the special case you can see here:

https://github.com/liferay/liferay-npm-tools/blob/597570f2b8d17d904899a6bedce1f069b6bf7f8f/packages/liferay-npm-scripts/src/utils/getJestModuleNameMapper.js#L

[2019-07-15 08:28] wincent commented on #98
Example PR that (presumably manually?) sorts params: https://github.com/brunobasto/liferay-portal/pull/1062

[2019-07-18 11:22] #50 closed

[2019-07-18 22:30] oliv-yu opened #176 "refactor of Jest config set-up caused issues with running jest"
Ever since version liferay-npm-scripts 4.7.0 I've been running into an issue with running 'yarn test', not quite sure why that is or if I needed to run my test differently.

https://gist.github.com/oliv-yu/db0d48f873bca01b86f951d1c2379c57

Any ideas? Not sure

[2019-07-19 06:31] wincent commented on #176
Looks like another one of those Windows-vs-Posix path things, although the error message isn't super helpful in signalling exactly what the root cause is. Let me see if I can repro this on the Windows laptop here and get back to you.

[2019-07-19 06:36] wincent commented on #176
I was wondering if you might be running in to the [command-line argument length limit](https://stackoverflow.com/questions/3205027/maximum-length-of-command-line-string), which might be as low as 8k characters, but the Jest command it "only" about 2.5k characters long, so I don't think that's it... will keep digging.

[2019-07-19 07:36] #176 closed

[2019-07-19 07:40] wincent commented on #176
This is fixed in v4.12.1 of liferay-npm-scripts. I'll send a PR to get that into liferay-portal shortly.

[2019-07-19 09:00] brunofarache commented on #2
@diegonvs @jbalsas just wanted to emphasize this is very important for development experience. My builds can take up to 1 minute and any change I do is painful.

I didn’t want to try any hack, I’m waiting for something more official, but if you guys think this will take longer, I will copy the hack from segments or workflow.

[2019-07-19 17:18] oliv-yu commented on #176
Thank you!

[2019-08-07 14:55] wincent commented on #94
So the initial version of this is in v4.18.0; sent PR upstream for that here:

https://github.com/brianchandotcom/liferay-portal/pull/76696

Thanks @thektan. Epic work!

[2019-08-07 14:55] #94 closed

[2019-08-08 10:37] jbalsas opened #190 "bug: missing imports in configuration"
We currently have some missing configuration imports in our `preset-dev`. This causes some unnecessary modules to be processed.

Based on a quick estimate, it adds around 8s per module, so fixing this would provide a significant speed boost to build time.

**Test Plan:**
- Build a module in portal using `liferay-npm-scripts` that depends on `frontend-js-web`
- Assert that the resulting `classes/no

[2019-08-08 10:43] jbalsas commented on #190
Closing since @wincent said this is stupid

[2019-08-08 10:43] #190 closed

[2019-08-19 08:12] #136 closed

[2019-08-21 08:17] jbalsas opened #205 "Add coverage information in the test scripts"
When testing, it's interesting to at least get a sense on current coverage.

We could enable `--coverage` when invoking jest by default so all developers running locally can see their results.

[2019-08-21 08:18] wincent opened #206 "feat: generate coverage information during test runs"
@jbalsas was just telling me that @john-co has a PR somewhere (I think it's [this one](https://github.com/jbalsas/liferay-portal/pull/1880)) exploring the generation of coverage information during tests runs.

The proposal is that we:

1. (Via a change in this repo): Do it automatically in every `liferay-npm-scripts test` run.
2. (Via work outside this repo, and possibly inside the liferay-jest-ju

[2019-08-21 08:20] wincent commented on #205
Whoops; created #206 which overlaps with this one.

[2019-08-21 08:25] #205 closed

[2019-08-21 08:25] jbalsas commented on #205
You explained it best ;)

[2019-08-21 13:21] kresimir-coko opened #207 "Yarn Format duplicates the Copyright comment on Windows"
When running `yarn format` or `yarn checkFormat` on Windows the output is unexpected.

In the case of `yarn format` the formatter will append the 13 lines of Copyright comment under the already existing one.

In the case of `yarn checkFormat` the output is following:
[code]

[2019-08-21 14:07] wincent commented on #207
@kresimir-coko: can you post a gist of the actual changes it makes?

One thing I notice is that it is Prettier that is complaining about bad formatting (which makes me think something about line-endings, or the final trailing newline in the files), but the thing which inserts "missing" copyright headers is ESLint. I don't see any output from ESLint in what you pasted; is there more?

[2019-08-22 07:23] kresimir-coko commented on #207
@wincent Here you go https://gist.github.com/kresimir-coko/73a5ec52f3499f7dcea5e45fcc1816e9

It's the same outcome for any `*.js` or `*.es.js` file

[2019-08-22 08:18] wincent commented on #207
Thanks @kresimir-coko. Looking at the raw bytes I can only see `0x0a` (ie. newlines), not `0x0d` (ie. carriage returns), so that's not it. Will have to try and repro it on the Window lappy here.

What about my other question?

[2019-08-22 08:20] wincent commented on #207
Another doubt I have is whether you have any local configuration related to line endings that might be obscuring what's really happening (for example, the stuff [in here](https://help.github.com/en/articles/configuring-git-to-handle-line-endings)).

[2019-08-22 08:34] kresimir-coko commented on #207
Don't know why I omitted this part of the output when running `yarn checkFormat`. But here is the final few lines.

[code]

[2019-08-22 09:00] kresimir-coko commented on #207
Good luck! 🗡 🗡 🗡

[2019-08-27 07:04] wincent commented on #98
Note that in https://github.com/brianchandotcom/liferay-portal/pull/77453 we discuss an alternative (or perhaps additional) approach which is to extract JS from JSP files, pipe through Prettier, and then reinject it. The obvious challenge there is making sure that all the interpolated sections don't get broken by the formatting, or in turn make the formatting produce a suboptimal result.

[2019-08-27 07:40] jbalsas commented on #98
So, the problem with good ol' `csf` is that it is a pretty manual process. The difference will still be very noticeable in jsps since they won't be applying prettier, so it will still be a very manual labour.

I think we'd better attempt leveraging Prettier somehow to make sure those stay consistent.

[2019-09-04 15:54] marcoscv-work opened #217 "CSS format: Require SCSS files starting with "_" are being imported in some SCSS file"
If an SCSS file starts with an underscore is not going to be compiled, other SCSS file has to load it by an `@import '_filename'`.

Require SCSS files starting with "_" are being imported in some SCSS local file by `@import '_filename'`

Examples of **correct** code:

[code]

Examples of **incorrect** code:

[code]

[2019-09-04 21:12] marcoscv-work opened #218 "CSS format: Disallow using of ID as a CSS selector"
CSS format: Disallow using of ID as a CSS selector

Examples of **correct** code:

`.component-name`

Examples of **incorrect** code:

`#component-name`

[2019-09-04 21:21] marcoscv-work opened #219 "CSS format: Disallow using prefixes, use autoprefixer instead"
Disallow using prefixes (-webkit-, -ms-, -moz-, -o-):

- -webkit-   Used by Chrome, Safari, Android, & iOS
- -moz-      Used by Mozilla Firefox
- -o-        Used by Opera
- -ms-       Used by Internet Explorer

Examples of **correct** code:

[code]

Examples of **incorrect** code:

[code]

[2019-09-04 21:30] marcoscv-work opened #220 "CSS format: Require uses of pseudo classes declared in this order: :hover, :focus, :active, :active:focus, :disabled"
Require uses of pseudo classes declared in this order: :hover, :focus, :active, :active:focus, :disabled

Not in alphabetical order.

Examples of **correct** code:

[code]

Examples of **incorrect** code:

[code]

[2019-09-04 21:41] marcoscv-work opened #221 "CSS format: Disallow using of shorthand"
Disallow using of [shorthand](https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties)

Examples of **correct** code:

[code]

Examples of **incorrect** code:

[code]

[2019-09-04 22:30] pat270 commented on #221
I don't think this is a good idea to enforce across the board. This is done in Clay CSS because variables are being heavily leveraged. It gives more customization options.

[2019-09-04 22:37] pat270 commented on #220
This should be:
[code]

[2019-09-04 22:42] pat270 commented on #218
ID's as selectors can be useful in DXP if you want to make something hard to overwrite via CSS (Product Menu?).

[2019-09-04 23:33] marcoscv-work commented on #221
It should be a rule to be used in our development, not for customers.
Could we show an alert or something not so intrusive?

[2019-09-04 23:40] marcoscv-work commented on #218
Product menu has a dynamic ID and classes called: `.lfr-product-menu-panel` and `.product-menu`, and it is good, IDs is an important part of HTML. This rule would be used only for our CSS, not for final customers o theme building, etc

[2019-09-05 08:09] wincent opened #226 "feat: add better support for monorepos to liferay-changelog-generator"
Right now, we're only using the generator in single-package repos like [alloy-editor](https://github.com/liferay/alloy-editor), or monorepos where we release all the packages together like [liferay-js-themes-toolkit](https://github.com/liferay/liferay-js-themes-toolkit) (where it makes sense to treat changes across all packages indistinctly).

It would be useful to have the generator do useful thi

[2019-09-05 08:10] wincent opened #227 "feat: extract "feat", "bug" etc information from PR titles"
Now that the changelog generator lives here, copying this over from: https://github.com/liferay/liferay-js-themes-toolkit/issues/258

We are using Conventional Commits now in all of our actively-developed frontend repos, so seems like this is worth doing now: the basic idea is to extract the meta data in the changelog generator to provide sectioned output (ie. group features together at the top, t

[2019-09-05 09:18] jbalsas commented on #221
On top of the rule, we should add a rationale, an explanation as to why we'd like to enforce this. That way we can better evaluate if this makes sense as a guideline and something to enforce or not.

@marcoscv-work, @eduardoallegrini, could you also add in the initial comment the **why**?

[2019-09-05 09:18] jbalsas commented on #220
On top of the rule, we should add a rationale, an explanation as to why we'd like to enforce this. That way we can better evaluate if this makes sense as a guideline and something to enforce or not.

@marcoscv-work, @eduardoallegrini, could you also add in the initial comment the why?

[2019-09-05 09:19] jbalsas commented on #219
On top of the rule, we should add a rationale, an explanation as to why we'd like to enforce this. That way we can better evaluate if this makes sense as a guideline and something to enforce or not.

@marcoscv-work, @eduardoallegrini, could you also add in the initial comment the why?

We should probably accompany this with a postcss+autoprefixer or rules to warn against usage of things that still

[2019-09-05 09:19] jbalsas commented on #218
On top of the rule, we should add a rationale, an explanation as to why we'd like to enforce this. That way we can better evaluate if this makes sense as a guideline and something to enforce or not.

@marcoscv-work, @eduardoallegrini, could you also add in the initial comment the why?

[2019-09-05 13:15] marcoscv-work commented on #219
We need them, yes, but is really difficult to adjust the compact matrix without **autoprefixer**
in the other hand, [autoprefixer has been used by Bootstrap from v4](https://getbootstrap.com/docs/4.3/getting-started/build-tools/#autoprefixer), so our code based on bootstrap has some particularities, we did the try to add it to Clay but finally is was refused:

https://github.com/liferay/clay/issue

[2019-09-05 13:30] marcoscv-work commented on #221
I totally agree with some of the last issues could be closer to "recommendations" than "be forced to" or "ensure".
So if you guys think some of them should be only a recommendation the alert message could be only a recommendation or advise

[2019-09-05 13:31] jbalsas commented on #221
One other thing, on a CI build, it's hard to tell apart a warning from an error, so when I say "recommendations" I mean written recommendations in our https://github.com/liferay/liferay-frontend-guidelines repo and not so much a build-time rule (although we could build it and just not automate it).

[2019-09-05 13:39] marcoscv-work commented on #221
If do we all agree, we could simply close the issue

[2019-09-05 13:55] marcoscv-work opened #231 "CSS format: Disallow using of !important"
CSS format: Disallow using of !important

Examples of **correct** code:

[code]

Examples of **incorrect** code:

[code]

[2019-09-05 14:07] wincent commented on #231
I think an important (😁 ) part of this rule is that is should be accompanied by guidance on what to do instead: usually when a developer reaches for `!important` it is because they are battling against specificity or the natural cascade, so it would be helpful to provide some hints on common problems and solutions/patterns.

[2019-09-05 14:46] eduardoallegrini commented on #221
I did some "google research" and I found something like:
- "don't use shorthand to avoid setting not used attributes" (in the case of margin, padding)
- "don't use shorthand to avoid to overwrite values by mistake" (in the case of font, background)

These reasons are ok but they don't seem really important, so I agree to leave them as a simple recommendation in the guideline

[2019-09-05 14:54] marcoscv-work opened #232 "CSS format: Alert using /* comment */"
Alert on uses of comments, /* comment */ will persist after a compilation

Examples of **correct** code:

[code]

Examples of **incorrect** code:

[code]

[2019-09-05 16:08] marcoscv-work opened #233 "CSS format: Alert if a variable not exist"
Check if the variable exists, if not and it is a new variable it has to be written with “!default”.

Examples of **correct** code:

[code]

Examples of **incorrect** code:
[code]

[2019-09-05 16:24] pat270 commented on #221
+1 for written recommendation

[2019-09-05 17:01] wincent commented on #232
Ooh. I forgot about this; I made the mistake of using a `/* ... */` comment the other day.

[2019-09-05 19:04] pat270 commented on #218
I think this would be better as an alert.

[2019-09-06 07:15] jbalsas commented on #233
This would be more of a `clay` guideline than a general one, I guess... I'm not 100% sure we'll be able to easily implement this, though... 🤔

[2019-09-06 11:25] marcoscv-work commented on #233
I think could be useful if we name clay variables with a prefix:

`$cy-variable-example: `
or
`$clay-variable-example: `

In this way, we could know if we are overwriting/using a Clay variable or not, sometimes is not clear and we have a mix of variables from clay / module / theme / component

[2019-09-06 11:34] marcoscv-work opened #235 "CSS format: Alert using BEM directive"
Warning if we are using BEM directive, we should use Bootstrap/Clay convention
Uses of: `--` or `__`

Examples of **correct** code:

[code]

Examples of **incorrect** code:

[code]

[2019-09-11 13:49] izaera opened #239 "Add support for bundler css-loaders"
Configure a rule to be able to `import` .scss files.

For now, the gradle build will compile from .scss to .css and the bundler will be just responsible of including the .css file with `css-loader`.

[2019-09-11 14:12] #239 closed

[2019-09-12 10:32] wincent opened #242 "Recover gracefully from interrupted builds"
This one was reported by @diegonvs and diagnosed by @jbalsas.

We have [a few places around where we use `finally`](https://github.com/liferay/liferay-npm-tools/search?q=finally&unscoped_q=finally) to do cleanup of temporary files we leave on the filesystem.

That deals nicely with errors but if you interrupt a build with Ctrl-C the `finally` block(s) won't run. The stale config files (eg. a merge

[2019-09-13 08:42] #242 closed

[2019-09-13 09:44] wincent commented on #207
Is this still happening for you @kresimir-coko?

I tried reproducing this on the Windows laptop here to no avail. Doesn't change any files when run from the top-level "modules/" folder, or from a subproject like "frontend-js-web".

[2019-09-13 21:08] wincent commented on #207
It's possible that you might have some transparent line-ending conversion going on in Git whenever you checkout. Which in turn means that [this commit](https://github.com/liferay/liferay-npm-tools/pull/248/commits/5ca2873a6d9dadf8f66cd4e0b359a058a17d2515) just might fix it (on an unrelated PR). Just in case that one gets force-pushed and goes away, this is it:

[code]

[2019-09-16 08:46] jbalsas commented on #207
I was going to say this was not possible because we already had a `.gitattributes` in place at [liferay-portal/.gitattributes](https://github.com/liferay/liferay-portal/blob/master/.gitattributes) but it turns out it's only for `pom` and `ivy.xml` files.

We used to apply it for `soy` files when the Soy Compiler had trouble with line endings in windows, but that [got fixed by the compiler itself](

[2019-09-17 07:42] wincent commented on #207
There are two "somewhere elses" apart from an actual `.gitattributes` file that I can think of: one is inside [eslint-plugin-notice](https://www.npmjs.com/package/eslint-plugin-notice) (which we don't control, although we might be able to submit a PR) and the other is via `git config` like I said above (which isn't ideal because every Windows developer would have to do it).

I guess the other thin

[2019-09-17 16:45] wincent opened #257 "fix: preserve internal indent inside JSP scriptlets that get moved by Prettier"
We need to fix the problem described [in this PR](https://github.com/wincent/liferay-portal/pull/64#issuecomment-532282850).

Given JS containing some JSP scriptlet:

[code]

If Prettier decides to change the indent on the surround JS, it ends up moving the starting line of the scriptlet but not the others. For example:

[code]

This is happening because of the way Prettier treats the multiline co

[2019-09-17 17:20] wincent opened #258 "fix: blank spaces before and after scriptlets"
As per [this comment](https://github.com/wincent/liferay-portal/pull/64#issuecomment-532278804). Chatted with Hugo about this and will see if I can add a padding line here to prevent Prettier from eating this whitespace.

[2019-09-17 17:22] wincent opened #259 "fix: respect scriptlet-based indentation"
Given a `for`/`while` etc control structure in a JSP scriptlet. If this is too hard (eg. because scanning for braces is not enough), we can try changing the order things run in so that SF can fix this after the fact. (Would still be nice though to not produce something that we know is going to be broken from SF's perspective. If the fix is cheap, we make a "best effort" at it.)

[2019-09-17 23:08] wincent commented on #257
Updated https://github.com/liferay/liferay-npm-tools/pull/253 to include the fix for this.

[2019-09-18 14:46] #257 closed

[2019-09-18 14:46] wincent commented on #258
Currently this is the only source of errors in a `ci:test:sf` run, and I have a fix in mind that is hopefully not too ghastly so I am going to give it a shot.

[2019-09-18 21:43] #258 closed

[2019-09-19 09:43] #259 closed

[2019-09-26 08:50] jbalsas opened #272 "Allow configurable output directory (or change default)"
As part of our build process, we take inputs and produce outputs. Right now, those outputs are going to the `classes/META-INF/resources `. As far as I can tell, we're defining this in:
- [packages/liferay-npm-scripts/src/presets/standard/index.js](https://github.com/liferay/liferay-npm-tools/blob/9a1017e740a12d435c7e88aa3c8fbf2ae415e0fa/packages/liferay-npm-scripts/src/presets/standard/index.js#L1

[2019-09-26 09:06] wincent commented on #272
So just a question about this: at the moment, the "frontend" *input* files (ie. JS, SCSS, Soy) are under `src/main/resources/META-INF/resources`, mixed together with other files (ie. Java, JSP etc).

With this change, the frontend *output* files will be in a different directory. Will this be enough to give Peter what he wants? (seeing as our output files will be well delineated, but the input file

[2019-09-26 09:07] jbalsas commented on #272
I think so, he will need to adjust the input globs accordingly.

[2019-09-26 11:37] wincent commented on #272
Created https://issues.liferay.com/browse/LPS-102342 to track the integration of this into liferay-portal. As the rest of the work is going to continue over there, I'll close this one.

[2019-09-26 11:37] #272 closed

[2019-09-26 14:07] jbalsas opened #277 "Add step to replace translations in soy files"
When compiling `.soy`, our tool implements an [--externalMsgFormat](https://github.com/metal/metal-tools-soy#externalmsgformat) param that converts calls to `goog.getMsg('foo')` to their equivalent `Liferay.Language.get('foo')`.

When integrated in `liferay-npm-scripts`, src soy files are properly processed, but those brought in as dependencies (and copied over via bundler) won't.

We could add so

[2019-09-27 08:05] #277 closed

[2019-09-27 08:14] wincent commented on #277
I'll update these two pulls to @petershin to include this:

- https://github.com/petershin/liferay-portal/pull/719
- https://github.com/petershin/liferay-portal-ee/pull/172

[2019-10-08 12:45] jbalsas opened #284 "Analyze usage of spawnSync('rimraf') vs rimraf.sync"
As stated in https://github.com/liferay/liferay-npm-tools/pull/283#discussion_r332469423 by @wincent

This is just an issue so we remember to look into it

[2019-10-08 19:51] bryceosterhaus commented on #284
Pretty sure I originally used `spawnSync` just to keep consistency across all of the calls initially. Since we migrated away from all CLI calls from individual npm scripts, I wanted to essentially move the logic rather than re-implement.

At this point since npm-scripts is handling much more internal logic, I think its totally appropriate to just rimraf's API directly rather than spawning the comm

[2019-10-09 08:59] wincent commented on #284
I'm thinking it won't be a big change. (Untested, but) something like:

[code]

🤦‍♂️ — and of course, having written that, I may as well sent it as a PR.

[2019-10-09 09:03] jbalsas commented on #284
😂

[2019-10-09 13:04] #284 closed

[2019-10-10 13:20] wincent opened #292 "chore: clean up "maint" branch"
Just documenting this here so that it's not only in my head and sprinkled across emails and Slack messages and GitHub comments.

### History

- liferay-npm-scripts was on version v9.5.0.
- liferay-npm-bundler-preset-liferay-dev was on v1.12.0.
- In d539ecacf92a0674d1e2787a1bd6a3932e78922e we changed liferay-npm-bundler-preset-liferay-dev to get it to tell the bundler to send output to "build/node/

[2019-10-15 08:12] wincent commented on #292
Just published 12.0.0-beta.1 so that we can test Peter Shin's latest PR against it. Current branch status:

[code]

Note that we didn't need to cut a new release of the preset; the "master" branch from which 12.0.0-beta.1 was cut was still on v2.1.0 of the preset, which uses the updated build output path. This means that we have the somewhat odd situation that our releases look like this:

- v10.1

[2019-10-17 11:14] #292 closed

[2019-10-28 11:06] wincent opened #300 "JSP formatter may strip necessary quotes from object properties"
~We don't have any examples of this in liferay-portal right now — you can verify this with `git grep "'<%=.+%>':" -- '*.jsp'` —  but~ @victorg1991 just came and showed me one from a change that he is currently preparing. Basically, he has a JSP expression that is being used in a JS object key:

(Update: actually, we do have examples of this pattern, but they were all removed in 916ef8315ba07, and

[2019-10-28 11:11] wincent commented on #300
Or, I should mention another workaround, in case the `// prettier-ignore` suppression is too ugly. You can create a variable and assign the property to that instead:

[code]

Seems like [Prettier will leave that untouched too](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEA3AhgJwAQQEYBWcYM2AvNsAL4DcAOlA-kSQNoDkGANgK5zsBdcthiY+NEABoQEAA4wAltADOyUFkwQA7gAUsCVSnSoICgCZSQeTOjABrODADKs2wqgBzZKL7SAF

[2019-10-28 11:54] wincent commented on #300
Two more workarounds to mention:

- Bake the quotes into the `value` inside the expression (eg. `<%= "'" + value "'" %>`), so that Prettier can't see them.
- Adjust our Prettier config as applied in JSPs to use [a quote-props config](https://prettier.io/docs/en/options.html#quote-props) of "preserve". On the downside, this would mean that the JS formatting in JSPs isn't 100% consistent with what w

[2019-10-28 14:31] wincent commented on #300
Ok, going to close this now that it is documented and hopefully dealt with:

@victorg1991 sent https://github.com/brianchandotcom/liferay-portal/pull/80065 to fix the syntax error, and I did an audit of the rest of the repo to see if there were any other potential issues; I'm testing that current at https://github.com/wincent/liferay-portal/pull/85 and if it looks good I'll forward it on upstream.

[2019-10-28 14:31] #300 closed

[2019-11-06 14:35] jbalsas opened #301 "Enable babel-plugin-transform-react-remove-prop-types in production builds"
Just learned that there is a [babel-plugin-transform-react-remove-prop-types](https://www.npmjs.com/package/babel-plugin-transform-react-remove-prop-types) that we can use to streamline our production builds.

As far as I can tell, we currently don't have a fork in our babel setup, but it should be pretty straightforward to start applying some optimizations for the `process.env.PRODUCTION` case.

[2019-11-06 14:36] wincent commented on #301
🥚

[2019-11-06 14:40] wincent commented on #301
There's also [transform-remove-prop-types](https://www.typescriptlang.org/). 😂

[2019-11-06 14:46] diegonvs commented on #301
+1 for Greg's answer 😂

[2019-11-06 14:50] jbalsas commented on #301
![oowow](https://user-images.githubusercontent.com/905006/68308439-29de5400-00ad-11ea-8265-ce6a3c2049e8.gif)

[2019-11-06 15:55] wincent opened #302 "Update testing-library/jest-dom to latest"
At the time of writing, that means v4.2.3 (see: https://github.com/testing-library/jest-dom/releases).

Motivation: want to be able to use newer matchers provided by `@testing-library/jest-dom/extend-expect` such as `toBeChecked()` (released in v4.2.0) and such.

We're currently on v4.0.0.

[2019-11-25 16:47] jbalsas commented on #98
Hey @wincent, given that we restored `.jsp` formatting and that we're mostly got rid of `.soy` in `7.2.x` where we're applying it... do you think it would make sense to close this, or do you want to keep it open as a reminder?

[2019-11-25 16:50] jbalsas commented on #2
Hey @wincent, @izaera, I'm adding this to https://github.com/liferay/liferay-npm-tools/milestone/6 so we can track it down, wether it's by creating something else or simply piggy-backing the current `deployFast` mechanism with dir.overrides.

[2019-11-25 19:47] jbalsas opened #303 "Set @babel/preset-react as our default babel preset"
We currently have `env` as our default babel preset which forces as to override in any "react" module with:

#### .babelrc

[code]

I currently count  **31 custom .babelrc** in `master` with the react preset, which likely means it's time for us to make this the default.

[2019-11-25 19:48] jbalsas opened #304 "Set liferay/react as our default eslint base"
We currently have `liferay` as our default eslint base which forces as to override in any "react" module with:

#### .eslintrc.js

[code]

I currently count  **32 custom .eslintrc.js** in `master` with the react extend, which likely means it's time for us to make this the default.

[2019-11-26 10:07] wincent commented on #98
Let's just close it and if we get another request to do formatting in `.soy` stuff we can create a new issue for that.

[2019-11-26 10:07] #98 closed

[2019-11-26 10:10] wincent commented on #304
See the related ticket that I made in eslint-config-liferay for this: https://github.com/liferay/eslint-config-liferay/issues/107 — basically, it may not be that we make `liferay/react` the base, but rather, that we make the current default (`liferay/portal`) assume the presence of React instead.

[2019-11-27 13:28] wincent opened #307 "Explore migrating to GitHub actions"
Seems this might be a more reliable/performant to Travis CI, but will have to do a bit of research to determine viability/desirability.

[2019-11-27 16:03] wincent opened #309 "Activate linting inside JSP files"
A subset of ESLint lints, because there are lots of things inside JSP that we can't meaningfully check due to lack of context. But this will be good because it means we can catch things like use of `const` etc that might otherwise slip through.

[2019-12-02 07:16] wincent commented on #301
This rule might help us to activate this rule a little more safely: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/forbid-foreign-prop-types.md

[2019-12-03 16:44] #309 closed

[2019-12-04 15:50] izaera commented on #2
PR #316 makes the necessary changes to stop `deployFast` failing so I'm closing this as we will be able to use `deployFast` once we release a new version of this project and use it from portal.

[2019-12-04 15:50] #2 closed

[2019-12-04 16:52] wincent opened #317 "Don't print ESLint messages in red if there are no errors or warnings"
Textual output:

[code]

Screenshot of output showing unwanted red text:

![liferay-portal___portool](https://user-images.githubusercontent.com/7074/70162853-aff6b600-16be-11ea-9d10-f4e8764ed0a4.png)

[2019-12-05 09:58] #317 closed

[2019-12-10 14:43] wincent commented on #304
Here's the change in eslint-config-liferay for this: https://github.com/liferay/eslint-config-liferay/pull/123

I'm going to test this in liferay-portal now and see what issues arise.

[2019-12-10 15:49] #304 closed

[2019-12-10 16:00] wincent commented on #304
Upstream PR: https://github.com/brianchandotcom/liferay-portal/pull/81817

[2019-12-13 17:12] diegonvs opened #322 "Jest debugging with Chrome Devtools"
Currently our script used to perform a `test` don't support spawning `jest` with a `node` process on `inspectBrk`flag, like `node --inspect-brk node_modules/.bin/jest --runInBand`.

[2019-12-16 07:49] wincent commented on #322
Sounds like it would be pretty useful. Because there are multiple layers of indirection between the entry point of the scripts and [the place where we actually spawn the `jest` process](https://github.com/liferay/liferay-npm-tools/blob/9b5fce0098fdf050c4bbda2ad20806bdd67ca554/packages/liferay-npm-scripts/src/scripts/test.js#L57) — `yarn` runs a `package.json` script, which runs `liferay-npm-script

[2020-01-08 11:02] izaera opened #327 "Windows build fails in 17.0.1 when generated webpack.config.js is processed"
The generated `webpack.config.js` contains absolute paths in `require`s which are unescaped.

For example:

`require('c:\users\me\path\to\webpack.config.js`)`

instead of:

`require('c:\\users\\me\\path\\to\\webpack.config.js`)`

[2020-01-08 11:04] izaera commented on #327
https://github.com/liferay/liferay-npm-tools/pull/328

[2020-01-08 11:44] #327 closed

[2020-01-10 12:46] izaera opened #329 "Jest tests are failing when a project imports a local .soy.js file"
Because we have moved resulting .soy.js files to the build directory, jest tests don't work any more as they are run on the source folder and .js files may import they counterpart .soy.js which, instead of being in the source folder is in the build one.

This is happening since version 17.0.0 when we decided to move all temporary and generated files out of the source folder to avoid deployFast fro

[2020-01-10 13:07] #329 closed

[2020-01-15 09:48] wincent opened #332 "Eliminate "caniuse-lite is outdated" message during liferay-npm-scripts build"
[code]

Just saw this on trying to deploy a module (concretely, `frontend-js-tooltip-support-web`, although I expect that actual module being used doesn't matter).

[2020-01-15 14:30] #301 closed

[2020-01-15 15:47] wincent commented on #301
Upstream PR: https://github.com/brianchandotcom/liferay-portal/pull/83326

[2020-01-16 14:52] wincent opened #336 "Reduce Yarn console warnings"
Many Yarn operations in liferay-portal trigger a bunch of warnings like these (truncated):

[code]

Would be nice to figure out what is going on there and eliminate or at least reduce the volume.

[2020-01-16 15:07] wincent commented on #336
Possibly related: https://github.com/yarnpkg/yarn/issues/4433

[2020-01-17 07:06] wincent opened #338 "Support async/await more broadly in liferay-portal"
As of #138, we've been able to use `async`/`await` in Jest tests. It would be nice to support it more broadly in liferay-portal (ie. not in JS in JSP because that doesn't get transpiled, but in pretty much all other JS except for a tiny bit hiding in themes, because that goes through Babel).

There are a range of ways to support this, so we want to evaluate browser compatibility, perf impact, poss

[2020-01-17 07:45] wincent opened #339 "Enforce use of .babelrc.js, .prettierrc.js and .eslintrc.js over alternative config file names"
This is related to #303 ("Set @babel/preset-react as our default babel preset").

It's not enough to just make it the default; we also have to lint to make sure that people don't specify the default preset redundantly (see [#130 in eslint-config-liferay repo](https://github.com/liferay/eslint-config-liferay/issues/130)).

But, to most straightforwardly lint the `.babelrc` files, we have to switch

[2020-01-17 07:49] #303 closed

[2020-01-17 10:32] #339 closed

[2020-01-17 11:31] wincent commented on #339
Upstream: https://github.com/brianchandotcom/liferay-portal/pull/83438

[2020-01-17 11:31] wincent commented on #303
Upstream: https://github.com/brianchandotcom/liferay-portal/pull/83438

[2020-01-17 12:11] jbalsas opened #344 "Research and Activate linting for SCSS files"
For about a year now we've been getting reports and collecting thoughts on SCSS linting here and there. The goal of this issue is to work on an architecture that would allow us to start adding existing and custom lints.

Possible options from internal [IFI-956](https://issues.liferay.com/browse/IFI-956)
- [stylelint](https://stylelint.io/): [rules](https://stylelint.io/user-guide/rules)
- [sass-li

[2020-01-17 12:47] wincent commented on #344
sass-lint has a scary warning now:

![sasstools_sass-lint__Pure_Node_js_Sass_linting](https://user-images.githubusercontent.com/7074/72613359-95576400-392f-11ea-8208-e2719c42b8c2.png)

stylelint, on the other hand, looks actively developed and popular; big dependency footprint though, but I can't really imagine any project that deals with SASS/CSS not having one...

[2020-01-17 14:50] wincent commented on #336
So, https://github.com/liferay/liferay-npm-tools/pull/346 eliminates all the internal warnings inside this project.

When I add it to liferay-portal, these warnings remain there:

https://gist.github.com/wincent/e2408063524fb1d28d4017a044cede8c

The first two lines there are a it weird; not sure about them.

[code]

But the rest look pretty much expected: mostly Clay and React dependencies that ar

[2020-01-17 16:48] bryceosterhaus commented on #344
Would we be also using prettier to enforce formatting?

[2020-01-17 17:39] jbalsas commented on #344
We already are :)

[2020-01-20 07:18] wincent commented on #219
From https://stylelint.io/user-guide/rules/property-no-vendor-prefix:

[2020-01-20 07:21] wincent commented on #231
Related stylelint rule: https://stylelint.io/user-guide/rules/declaration-no-important

[2020-01-20 09:06] wincent commented on #336
Chatted offline about this and we consider that the improvements delivered in #346 are a good benefit at a reasonable cost, but that we probably don't want to go any further down this path at this time (trading noise in the dependencies list(s) for noise in the console), seeing as nobody else has really complained about this stuff so far.

[2020-01-20 09:06] #336 closed

[2020-01-20 09:30] wincent commented on #344
In terms of assessing viability of stylelint, did a quick test to see what happens when applying it to liferay-portal:

### Install in top-level modules folder

[code]

This produces [this churn in the yarn.lock](https://gist.github.com/wincent/01e9ecb7fe342836c1b477d075ffc6f9) (about 849 lines added, 15 deleted).

After an `npx yarn-deduplicate yarn.lock`, the total effect is a bit less (815 line

[2020-01-20 09:55] wincent commented on #344
@marcoscv-work, @eduardoallegrini: just looping you in as discussed in the daily this morning — stylelint is one of the tools we're evaluating to give us some lint coverage in our SCSS files.

As noted in my previous comment, I checked to see that it works at all, how fast it runs, what it adds to our dependency footprint. Based on that extremely quick check, it looks like it could work.

Would yo

[2020-01-20 11:20] jbalsas commented on #344
Hey @wincent, is it possible that `yarn run stylelint 'apps/**/*.scss*'` is unnecessarily picking up folders like `build` or `build_node` or `classess` that can contain duplicated versions of the `.scss`?

[2020-01-20 11:20] jbalsas commented on #336
Agreed!

[2020-01-20 12:00] wincent commented on #235
Possibly useful: https://github.com/simonsmith/stylelint-selector-bem-pattern

[2020-01-20 14:39] wincent commented on #344
Draft PR turning on stylelint is up at https://github.com/liferay/liferay-npm-tools/pull/347

I'll take it out of draft once we have an initial set of actual rules to turn on from @marcoscv-work  and @eduardoallegrini.

[2020-01-21 14:14] wincent commented on #207
Given that we don't have a reliable repro, I am going to close this as non-actionable. If somebody can provide repro steps that work, we'll reopen.

[2020-01-21 14:14] #207 closed

[2020-01-21 16:14] eduardoallegrini commented on #344
I took a look at the list and here's what I consider useful:
## Possible errors
- color-no-invalid-hex
- font-family-no-duplicate-names
- function-calc-no-invalid
- unit-no-unknown
- property-no-unknown
- declaration-block-no-shorthand-property-overrides
- block-no-empty
- selector-pseudo-class-no-unknown
- selector-pseudo-element-no-unknown
- selector-type-no-unknown
- media-feature-name-no-unkno

[2020-01-21 16:56] wincent commented on #232
I added some more commits on top of https://github.com/liferay/liferay-npm-tools/pull/347 that will implement this via a custom "no-block-comments" rule, so this will get closed when that one gets merged.

[2020-01-22 14:05] #232 closed

[2020-01-22 16:21] wincent commented on #344
liferay-npm-scripts v20.0.0 is published and I am testing deploying it to liferay-portal here: https://github.com/wincent/liferay-portal/pull/122

If that looks good, will forward to Brian.

[2020-01-23 09:08] wincent opened #351 "Remove Karma usage from liferay-portal"
Three modules currently using it:

- [x] analytics-client
- [x] portal-search-web
- [x] portal-workflow-kaleo-designer-web

But we'd like do discourage further use because it is not the most robust thing (see https://github.com/brianchandotcom/liferay-portal/pull/83631 for an example mitigation) and it exists as an [exceptional top-level dependency](https://github.com/liferay/liferay-portal/blob/9

[2020-01-23 09:16] wincent opened #352 "Prohibit leading/trailing blank lines in SCSS comments"
As per [this feedback from Brian](https://github.com/brianchandotcom/liferay-portal/pull/83654#issuecomment-577349140).

I had taken comments like this:

[code]

and turned them into this:

[code]

to produce a minimal diff.

But we actually want:

[code]

I don't know if we can autofix this because the stylelint autofixing capabilities seem relatively limited (I'll check), but I am pretty sure we

[2020-01-23 16:56] #352 closed

[2020-01-24 07:53] wincent opened #354 "Make preflight checks respect .eslintignore"
I don't know if we're going to need this or not, but it seems like a useful thing to have to preclude possible issues in the future, and it might be needed soon. I think it will be very cheap to implement (one or two lines of code).

In https://github.com/wincent/liferay-portal/commit/f7704c187c75117402a8d479ea8c76dcc368b824 we renamed all `.babelrc` files to `.babelrc.js`, and it seems that it re

[2020-01-24 09:21] #354 closed

[2020-01-27 11:54] wincent commented on #351
portal-search-web PR is up at https://github.com/brianchandotcom/liferay-portal/pull/83786

[2020-01-28 12:22] wincent commented on #351
portal-workflow-kaleo-designer-web PR is up at https://github.com/brianchandotcom/liferay-portal/pull/83842

[2020-01-29 12:45] wincent commented on #351
analytics-client-js PR sent here: https://github.com/brianchandotcom/liferay-portal/pull/83907

So going to close this out.

[2020-01-29 12:45] #351 closed

[2020-01-30 17:47] #162 closed

[2020-01-31 13:47] wincent commented on #344
Ok, I think we've achieved the initial goal here, which was to provide infrastructure for linting SCSS. We have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/liferay-npm-tools/blob/649f5d0b9d3af3dd003670d4b2e8411cb61a5dca/packages/liferay-npm-scripts/src/config/stylelint.js

[2020-01-31 13:47] #344 closed

[2020-01-31 13:53] wincent commented on #231
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 13:54] wincent commented on #217
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 13:54] wincent commented on #219
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 13:58] wincent commented on #235
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 13:59] wincent commented on #233
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 14:01] wincent commented on #221
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 14:02] wincent commented on #220
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 14:03] wincent commented on #218
Just cross-referencing [this issue](https://github.com/liferay/liferay-npm-tools/issues/344) here. As described in [this comment](https://github.com/liferay/liferay-npm-tools/issues/344#issuecomment-580739620), we now have style-lint [active in liferay-portal](https://github.com/brianchandotcom/liferay-portal/pull/83654), and [something like 49 rules are turned on](https://github.com/liferay/lifer

[2020-01-31 16:25] bryceosterhaus commented on #344
This is awesome, great job with this!

[2020-02-03 07:58] wincent commented on #206
Removing this one from https://github.com/liferay/liferay-npm-tools/milestone/4 because we're not going to get to it right now.

[2020-02-03 08:00] wincent commented on #302
Removing this from https://github.com/liferay/liferay-npm-tools/milestone/4 because we're not going to get to it this time round. Maybe later though.

[2020-02-05 17:57] wincent opened #366 "Editor shortcuts for running source formatter"
Let's make it easy to run source formatting on a specific file rather than basing it on current directory.

Will be useful for making editor shortcuts to format on save.

[2020-02-06 10:41] boton commented on #322
I use a simple workaround to get the test with debug `node --inspect-brk  /path/liferay-portal/modules/node_modules/liferay-npm-scripts/node_modules/.bin/jest --config jest.config.json --runInBand  ./test`.

For the setup, I copied the `TEMP_jest.config.json` to `jest.config.json` and `.babelrc.js` to `babel.config.js` when yarn test --watch is running.

CONS: Its pain has to copy the jest and bab

[2020-02-07 08:18] wincent commented on #366
Was closed by: https://github.com/liferay/liferay-npm-tools/pull/367

Instructions for how to set-up: https://github.com/liferay/liferay-npm-tools/blob/master/packages/liferay-npm-scripts/README.md#prettier

Related: https://github.com/brianchandotcom/liferay-portal/pull/84307

[2020-02-07 08:18] #366 closed

[2020-02-10 12:21] wincent opened #369 "Add "process" global to ESLint default"
[Originally posted in the eslint-config-liferay repo](https://github.com/liferay/eslint-config-liferay/issues/118), but it actually belongs here (all of [our default globals are declared here](https://github.com/liferay/liferay-npm-tools/blob/290a1784c368d6882b0ea9e488f005f4bd470046/packages/liferay-npm-scripts/src/config/eslint.config.js#L24-L31), and we have no globals declared in the eslint-con

[2020-02-10 13:26] #369 closed

[2020-02-13 16:08] wincent opened #380 "Enforce trailing commas"
Originally requested [here](https://github.com/liferay/liferay-frontend-guidelines/issues/120) and green-lighted [here](https://github.com/liferay/liferay-frontend-guidelines/issues/120#issuecomment-585834606).

[2020-02-14 11:20] #77 closed

[2020-02-19 18:01] wincent opened #389 "Sort SCSS imports"
Previously requested [here](https://github.com/brianchandotcom/liferay-portal/pull/81633#issuecomment-561865490). We were tracking SCSS formatting in a general fashion [here](https://github.com/liferay/liferay-npm-tools/issues/344), but that is closed now and it's time to create a new issue for this here as it just came up [again](https://github.com/brianchandotcom/liferay-portal/pull/84932#issuec

[2020-02-20 15:32] #389 closed

[2020-02-20 15:50] wincent opened #391 "Disallow explicit extension in SCSS imports"
While preparing https://github.com/brianchandotcom/liferay-portal/pull/85026 I just noticed a superfluous ".scss" extension in an import statement. We should lint and autofix that.

[2020-02-20 16:10] wincent commented on #391
There is a library that we could use for this which has [an `at-import-partial-extension` rule](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/at-import-partial-extension/README.md), but we should evaluate that dependency carefully because it brings [a number of other things with it](https://github.com/kristerkari/stylelint-scss/blob/5092e53e447e323d28645eab97f701788e35e87a/pa

[2020-02-24 07:53] #391 closed

[2020-02-25 08:26] wincent commented on #380
@jbalsas: Did you ever end up asking brianchandotcom about this?

[2020-02-25 15:23] jbalsas commented on #380
As it turns out, I never got around to bring this up... as per our offline conversation, I think we might not see an immediate return here, specially since we wouldn't be able to format JS in JSP this way, so maybe it's best to document this limitation and park this for now?

Full disclosure, this particular feature is one of the ones I struggle with the most... but I wouldn't block it if the majo

[2020-02-25 15:59] p2kmgcl commented on #380
I don't like trailing commas :laughing:, I thought it would be useful to have them in portal. If no one else wants to have them we can ignore this.

[2020-02-25 16:07] wincent commented on #380
I feel a bit stupid.

[This MDN page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Trailing_commas) claims that we *can* use trailing commas in IE9 and above, so I was wrong about this not being safe to put in our JSPs. This page from incredibly trustworthy/legendary JS educator Axel Rauschmayer also corroborates that only IE 8 doesn't support it...

Evidently, I was thinking

[2020-02-26 12:07] #380 closed

[2020-03-01 12:17] #227 closed

[2020-03-01 13:17] #226 closed

[2020-03-02 13:36] wincent opened #402 "Update to support "liferay-npm-bundler.config.js""
The new version of the bundler will use "liferay-npm-bundler.config.js" instead of ".npmbundlerrc".

So we'll need to update [the list of config files here](https://github.com/liferay/liferay-npm-tools/blob/f5fd94981432bba12b3e63384d55cabbb4c45e48/packages/liferay-npm-scripts/src/config/eslint.config.js#L6-L15), plus make sure that we can handle the new config file name elsewhere (will probably wa

[2020-03-02 18:47] bryceosterhaus opened #403 "Why do we maintain our own changelog generator?"
I saw we added a new package and added some new features for it that essentially mimics the same functionality as [conventional commits](https://www.conventionalcommits.org/). I am curious why we need our own tool and why we don't just leverage that instead of rolling our own?

I read the README on the package but it still wasn't totally clear to me why we would replicate the features from CC and

[2020-03-03 11:34] wincent commented on #403
Because the one that we were previously using in liferay-js-themes-toolkit was [horribly broken](https://github.com/liferay/liferay-js-themes-toolkit/issues/221). It routinely failed to produce changelogs at all because it would hit GitHub API rate limits, and even when the rate limits didn't apply, it was confused by the multiple active branches (because we were cutting 8.x and 9.x releases at th

[2020-03-03 11:51] wincent commented on #403
It seems like the most popular JS "ecosystem" of tooling that operates with the Conventional Commits spec is under [the conventional-changelog org](https://github.com/conventional-changelog). Their [main repo](https://github.com/conventional-changelog/conventional-changelog) is a monorepo containing [21 packages](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages

[2020-03-03 20:42] bryceosterhaus commented on #403
Makes sense, I actually think I made an assumption before asking the question that wasn't quite accurate. I saw the "monorepo" support and other recent issues that made it look very similar to `lerna version --conventional-commits` which will auto generate a changelog per package as well. But I realized that even though we have a monorepo here, we don't use `lerna` which then makes my assumptions

[2020-03-04 09:08] wincent commented on #403
Yeah, I get that. It's a reasonable opinion, and I've thought about it a lot over the years. However, the more time I spend in the JS ecosystem, the more I think we, as a community, tend to get it all wrong, over and over again. Things like the 2,600-file changelog generator, or Lerna (10,976 files added to an empty project as a result of `yarn add lerna` — and it is even worse if you look at it i

[2020-03-04 09:52] wincent commented on #403
I added #404 (if you can find it... 😂) which adds something to the README.

[2020-03-05 08:37] wincent opened #405 "Make default preset globs more expansive to match DXP"
@julien reported that [this PR](https://github.com/brianchandotcom/liferay-portal/pull/85713) was failing SF checks in CI but not locally.

The cause is that [we have conservative default globs defined at the project level](https://github.com/liferay/liferay-npm-tools/blob/29545e04a57b35b17903aa638c7db2be129995ae/packages/liferay-npm-scripts/src/presets/standard/index.js#L10), so if you run `yarn

[2020-03-05 09:33] #403 closed

[2020-03-05 11:03] #405 closed

[2020-03-05 11:18] wincent opened #408 "Use version-tag-prefix automatically"
At the moment when you invoke the changelog generator in a monorepo with independent changelogs, you have to provide the `--version` flag in the format that corresponds to the version that you are going to release (eg. `--version=liferay-npm-scripts/v28.0.2`).

We could make this easier for the user (eg. `--version=v28.0.2`) and automagically do the right thing by reading the `version-tag-prefix`

[2020-03-09 10:58] wincent opened #409 "Enforce blank line before and after comments"
# ~SCSS~

~[Requested by Brian here](https://github.com/brianchandotcom/liferay-portal/pull/85868#issuecomment-595881597).~

~[Sample format](https://github.com/brianchandotcom/liferay-portal/commit/679ae67ab8b6aa3650f924e8f452a3cb146da89e).~

(SCSS part of this split off into https://github.com/liferay/liferay-npm-tools/issues/475)

# JS

[Requested by Brian here](https://github.com/brianchandotc

[2020-03-09 17:38] bryceosterhaus commented on #409
So does this mean we need to add more custom rules to prettier?  my fears are becoming reality lol

[2020-03-10 08:44] wincent commented on #409
No, I believe this would be adding custom rules to style-lint. So your fears are not yet realized! 😂

[2020-03-12 13:21] wincent commented on #409
Sadly, seems that Prettier does disagree about blank lines above comments at the top of a new scope ([example](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAjCATAngAmAHSkJxwHpScB3AQxkOJwDoAzCCPBkyAGwgCckOAMTNRAbgYBfQpJAAaEBAAOMAJbQAzslDU+fCJQAKuhFpTUAbhFUZ5aPtTABrODADKSx6qgBzZDD4AVzgFAAsYAFtuAHVQ1XgNTzA4N1N41Qt4rGRwDS0Fbw04PhhDBx8I6mRmam4ihQArDQAPACEHZ1c3agi4ABlvOGra+pAm5rdvH244AEVAiHhhupCQTz

[2020-03-13 11:16] wincent opened #411 "Add ".css" to the list of css-loader tests"
[Here](https://github.com/liferay/liferay-npm-tools/blame/deabf721447dfc2f4ad117ef2a90df09911d1b50/packages/liferay-npm-bundler-preset-liferay-dev/config.json#L272). Because otherwise people end up having to configure it manually in multiple places (eg. [one here now](https://github.com/liferay/liferay-portal/blob/6622a92d19e7414ae9a9e1e02944b21885c5e890/modules/apps/dynamic-data-mapping/dynamic-d

[2020-03-16 10:20] #411 closed

[2020-03-17 12:43] wincent opened #415 "Configure Dependabot to reduce noise"
We might be able to reduce some of the unwanted noise from Dependabot, while still keeping some valuable signal, by using [config file options](https://dependabot.com/docs/config-file/). For context on the kinds of signal that is valuable vs what is noise, see [Security](https://github.com/liferay/liferay-frontend-guidelines/blob/master/general/security.md), in the [liferay-frontend-guidelines rep

[2020-03-18 16:26] wincent opened #416 "Run formatting checks more broadly when liferay-npm-scripts version changes"
Just an idea: we saw SF fail in [this PR](https://github.com/liferay/liferay-portal-ee/pull/18535) because when we did [this backport](https://github.com/liferay/liferay-portal-ee/pull/18336) of liferay-npm-scripts to the 7.2.x branch, new formatting rules came into effect but we didn't run the checks over the entire repo (in CI, we only run on changed/new files).

The idea, then, is to run more b

[2020-03-22 12:45] wincent opened #418 "Update to Prettier v2.0.0"
Low-ish priority on this one because there may be some bugs that need to get sorted out in the next few patch releases, and this could generate a fair bit of churn:

https://prettier.io/blog/2020/03/21/2.0.0.html

But still, something we'll want to do at some point in order to benefit from the bug fixes.

[2020-03-24 16:29] izaera opened #421 "Add a --with-changelog option to the script that generates the changelog automatically"
The switch would make publish run the following steps:

1) npx liferay-changelog-generator --version=xxx (or without --version if we also implement #408)
2) git add -p
3) continue with liferay-js-publish as usual

Then, if someone wants to configure a project with changelog support she would put the following in `package.json`:

[code]

[2020-03-24 16:38] wincent commented on #421
Not sure if this is what you were thinking or not, but just in case it isn't...

Just to clarify the purpose of #408: it's not to relieve you of the need to pass `--version` in general; it's so that in a monorepo that uses independent versioning (eg. tags of the form `liferay-some-package/v1.2.3`) you can pass `--version=v1.2.3` or `--version=1.2.3` and we'll coerce it into the desired `--version=

[2020-03-24 16:46] izaera commented on #421
I'm not sure we can take the version from the package.json when running the changelog because it would be run `preversion`, not `postversion`, so we have to take it from the CLI.

However, we provide it just once and use it for the changelog and yarn.

If I understood your comment correctly, then we don't need #408 to do this one because we will need to pass `--version` anyway.

[2020-03-24 16:48] izaera commented on #421
So, my initial comment is wrong. It would be configured like this:

[code]

And no `post-version` at all....

Does that make sense?
[code]

[2020-03-24 16:50] izaera commented on #421
If we want to leave it with `postversion` we need two scripts or two invocations of `liferay-js-publish`, like this:

[code]

[2020-03-24 17:45] wincent commented on #421
Might be able to get it from the `process.env`, because I am pretty sure that Yarn will pass something... let's see:

For example, test project `package.json`:

[code]

[Output of `yarn version --patch`](https://gist.github.com/wincent/b34fdd8f0955a8cba50dd7eb921a4ea0)

Note `npm_package_version` value:

- `preversion`: 1.0.0
- `version`: 1.0.1
- `postversion`: 1.0.1

I would like to be able to pu

[2020-03-24 17:49] wincent commented on #421
Actually, given the above, [seeing that `version`](https://docs.npmjs.com/misc/scripts):

It might be as simple as:

[code]

And we just do #408 and teach liferay-js-chaneglog-generator to read from `npm_package_version` in the absence of an explicit `--version` tag.

I'd really like to avoid complecting these simple tools if possible.

[2020-03-25 08:13] wincent commented on #421
What's missing from there is probably this:

[code]

Where `--commit` runs `git add -p $CHANGELOG.md` for you, basically. The only thing I am not sure of is how you would abort in the evident that you didn't like the changes and it was too hard to edit them inside `git add -p`... Maybe we can catch an interrupt (`C-c`) or something, or — probably better — add a confirmation prompt. 🤔

[2020-03-25 13:19] izaera commented on #421
Confirmation prompt looks good :+1: and it's safer and more evident than `Ctrl+C`ing.

Regarding:

It's not that it's so bad, but if we make it possible to release versions running one single command that guides the user through the steps we don't need to:

1) write and maintain any release section in CONTRIBUTING.md (other than "just run yarn version")
2) remember anything when doing a release
3)

[2020-03-26 12:08] izaera opened #423 "Support block release in yarn workspaces"
Right now it is not possible to use liferay-js-publish to release all packages in a yarn workspace at once because it has to be configured per-package and that leads to one commit + tag per package, making releases collide.

See:

* https://github.com/liferay/liferay-js-themes-toolkit/pull/454#issue-394128602
* https://github.com/liferay/liferay-js-themes-toolkit/pull/453
* https://github.com/life

[2020-03-26 12:17] wincent commented on #423
In terms of prioritization, with the themes toolkit switching to independent versioning (ie. https://github.com/liferay/liferay-js-themes-toolkit/pull/454) there might not even be any block-versioned projects left under active development, right? 🤔

I think our investments will be better directed towards making independent releases work better.

[2020-03-26 12:55] izaera commented on #423
Probably better, yes :+1:

Just created this so that we have all the info when we decide to enhance js-publish again.

[2020-03-26 17:47] wincent opened #424 "Make moduleNameMapper work in presence of different module structures"
Problem reported here: https://liferay.slack.com/archives/CNBG06JS3/p1585226190005800

Analyzed here: https://issues.liferay.com/browse/LPS-110957

Workaround supplied here: https://github.com/marcosapmf/liferay-portal/pull/7

[2020-03-27 08:32] #424 closed

[2020-04-03 13:30] wincent commented on #307
GitHub actions are working well in:

- [liferay-ckeditor](https://github.com/liferay/liferay-ckeditor/blob/master/.github/workflows/ci.yml)
- [liferay-frontend-guidelines](https://github.com/liferay/liferay-frontend-guidelines/blob/master/.github/workflows/ci.yml)
- [eslint-config-liferay](https://github.com/liferay/eslint-config-liferay/blob/master/.github/workflows/ci.yml)

[Example PR](https://

[2020-04-03 16:17] #408 closed

[2020-04-03 17:31] wincent opened #432 "Prepare liferay-changelog-generator for automated releases"
In https://github.com/liferay/liferay-npm-tools/issues/421 we discussed ways to further streamline the process of releasing packages. I'm creating this to summarize where we landed.

At the moment, the process consists of:

1. Update changelog (using `liferay-changelog-generator`).
2. `git add` the chanelog.
3. Run `yarn version` (which does the actual publish via `liferay-js-publish`).

The funda

[2020-04-03 17:32] wincent commented on #421
Think I've boiled all this down to: https://github.com/liferay/liferay-npm-tools/issues/432 — so closing this one.

[2020-04-03 17:32] #421 closed

[2020-04-03 17:57] wincent opened #433 "Improve clarity of error messages, especially during linting/checking"
Stems from [this comment](https://github.com/ethanbustad/liferay-portal-ee/pull/76#issuecomment-608537015).

Sometimes non-frontend developers end up running into confusing errors because they don't have the context to understand what the problems are or how to solve them.

This specific example was:

So they renamed the file, which ended up producing a syntax error:

because all ".js" files must

[2020-04-06 07:36] wincent commented on #409
Updated the description for this to reflect that we got [another request](https://github.com/brianchandotcom/liferay-portal/pull/87232#issuecomment-608623839) (this time [in JS](https://github.com/brianchandotcom/liferay-portal/commit/9611cccb243732aac4a839058c25da867c070cbe)).

Unlike the first example, which would have conflicted with Prettier, [this one doesn't](https://prettier.io/playground/#

[2020-04-07 15:47] wincent commented on #418
Ok, I think most of the bugs in 2.0.x have been sorted out at this point (currently at 2.0.4). However, I think that trying to get a big change into liferay-portal at the moment is a fool's errand due to the state of CI, with trivial changes getting held up for many days due to flaky tests. So if we do this, which will touch hundreds of files, I don't expect it will be easy to merge it in. Having

[2020-04-08 07:14] wincent commented on #409
Another request here: https://github.com/brianchandotcom/liferay-portal/pull/87372#issuecomment-610716460

And seeing as this request now covers both JS and SCSS, I created a ticket in eslint-config-liferay for the JS part that will be handled by ESLint: https://github.com/liferay/eslint-config-liferay/issues/169

[2020-04-08 07:33] wincent commented on #307
Had a lot of trouble getting a PR merged yesterday; had to try three times:

- https://github.com/liferay/liferay-npm-tools/pull/435
- https://github.com/liferay/liferay-npm-tools/pull/436
- https://github.com/liferay/liferay-npm-tools/pull/437

And various tricks like closing/reopening and sending additional commits didn't work.

Known issue, apparently:

- https://twitter.com/travisci/status/124

[2020-04-08 12:26] #416 closed

[2020-04-08 16:31] wincent commented on #409
JS part is prepared over here: https://github.com/liferay/eslint-config-liferay/pull/170

[2020-04-13 07:57] jbalsas commented on #418
I would go with the update, shortcut CI and send straight to Brian.

[2020-04-15 10:27] izaera opened #438 "Check version number format before publishing"
See [this conversation](https://github.com/liferay/liferay-js-themes-toolkit/commit/38c10032ab5310726137fb08cb5e7314de29d07f#commitcomment-38506428)).

What we basically need is to detect when `v1.2.3` is given to `yarn version` instead of `1.2.3` and, in that case, fail the publication.

The situation right now when giving `v1.2.3` is:

1. Git commit updates `package.json` setting version field t

[2020-04-15 10:33] wincent commented on #438
I'd also add to that list, that:

4. Bad tag object gets created, an corresponding bad release page on GitHub.

Fortunately, the links in [the generated changelog](https://github.com/liferay/liferay-js-themes-toolkit/blob/38c10032ab5310726137fb08cb5e7314de29d07f/packages/generator-liferay-theme/CHANGELOG.md) are fine, because they are normalized and end up pointing at the correct tag. (ie. once yo

[2020-04-20 13:03] wincent commented on #418
Quick self-PR is up at: https://github.com/wincent/liferay-portal/pull/211

In the weekly call with Brian on Wednesday, he wanted me to send a big change so that we stress test CI and discuss the results on the next call. So that's the test. If it doesn't work, I can do what you said @jbalsas and do the "real" update and just send it directly to Brian after Wednesday.

I have a few sweeping change

[2020-04-20 14:09] markocikos opened #440 "Update jsdom to support document.createRange"
In several places we are using fragment appending to achieve execution of scripts within appended HTML:

[code]

Jest does not support testing this, throwing error that `createRange` is not defined.

@wincent analysed this [here](https://github.com/wincent/liferay-portal/pull/208#issuecomment-616502610):

[2020-04-27 12:55] #418 closed

[2020-04-30 10:35] wincent opened #444 "Override Prettier line-comment placement at start of blocks"
Originally created [here](https://github.com/liferay/eslint-config-liferay/issues/178) but then realized that it best belongs in this repo because I'm not going to make any changes over there. Copy-paste follows:

---

As [I explained](https://github.com/brianchandotcom/liferay-portal/pull/88193) when I shipped [the lint to enforce blank lines before and after comments](https://github.com/liferay/

[2020-04-30 16:20] #444 closed

[2020-05-06 08:31] wincent opened #446 "Remove dodgy core-js import from bundler preset"
As reported [in Slack](https://liferay.slack.com/archives/C03CAD9EF/p1588703600080100).

We have had [set up since about 13 months ago](https://github.com/liferay/liferay-npm-tools/commit/fd4ee8d5aa5fcd74baae7bfb15f71bfa3a5dee4b) a config to obtain core-js from frontend-js-metal-web.

This seems a bit random as frontend-js-metal-web doesn't even have core-js as an explicit dependendency and never

[2020-05-06 13:41] jbalsas commented on #446
Might be wrong here... basically what I did was, look at `classes/META-INF/node_modules` at the time for basically every module we were compiling to see what was in there. Many of them, for whatever reason, had `core-js` in there at the moment.

That is very possible indeed :)

[2020-05-07 07:17] izaera commented on #446
The preset is wrong in the sense that `exclude`s `core-js` for each project and then tells them to import it from `frontend-js-metal-web`, where it isn't.

However, up to the day, nothing has broken, which means that even if the projects have `core-js` as a dependency, they are not using it :shrug:.

So..., if we stop excluding `core-js` we will impact the build times to get nothing, I guess. But

[2020-05-07 07:19] izaera commented on #446
The description of `core-js` says it all:

![imagen](https://user-images.githubusercontent.com/3273630/81265681-cb863400-9043-11ea-8b50-3ca310315151.png)

Who wouldn't want to have the `standard library` in their projects? :shrug:

[2020-05-07 11:57] wincent commented on #446
Seeing as I'm going to cut a liferay-npm-scripts release today, I'm going to "fix" the preset and leave the whole "frontend-js-core-js" thing for another day. In reality, I would hope that our runtime deps in liferay-portal wouldn't make much (or any) use of core-js at all (and evidently, they haven't in the past, so who knows how long before this actually comes up again).

[2020-05-07 15:15] #446 closed

[2020-05-11 17:14] wincent opened #450 "Enable nullish coalescing and optional chaining"
Both at Stage 4, and would clean up statements like this:

[code]

Because we can instead do:

[code]

Creating this because I want to link to this example from [this PR](https://github.com/wincent/liferay-portal/pull/255).

[2020-05-11 21:13] wincent opened #451 "Update to ESLint v7.0.x"
As usual with these big releases, we can expect some pain related to breaking changes and regressions, so we probably want to hold off until 7.0.2 or 7.0.3, which may take a few weeks to roll in.

Release notes: https://eslint.org/blog/2020/05/eslint-v7.0.0-released

[2020-05-11 21:30] wincent commented on #451
Will probably be easier to do this after https://github.com/liferay/eslint-config-liferay/issues/148

[2020-05-12 13:01] wincent commented on #307
Another reason to migrate: [seems we've lost the "retry" button on failing jobs](https://github.com/liferay/liferay-npm-tools/pull/452#issuecomment-627327192). 😢

[2020-05-12 13:11] #450 closed

[2020-05-12 17:05] wincent opened #453 "Add checks against devDependencies in liferay-portal"
We [don't want `devDependencies` to go in anywhere, except via `liferay-npm-scripts`](https://github.com/liferay/liferay-frontend-guidelines/blob/master/dxp/dev_dependencies.md).

Our Java-powered source-formatter is [supposed to stop these from getting in](https://github.com/liferay/liferay-portal/blob/ad9a7eb092afbc7f345a66c4b0202854b4cc9fbb/modules/util/source-formatter/src/main/java/com/lifera

[2020-05-12 17:40] bryceosterhaus commented on #307
@wincent if you find any helpful tools for working on GH actions locally, let me know. When I added to Clay, I ended up just making endless PRs to my own fork to test out configs and it wasn't an ideal workflow for working on actions.

[2020-05-12 19:02] nhpatt commented on #453
It works fine, it is my fault :( Check is ignored later: https://github.com/brianchandotcom/liferay-portal/pull/88585/commits/aedbb1f45aa5207392bdbe2b9f5d0118a78879d3. I clearly missunderstood Ivan when I asked for advice about loading json, sorry :(

[2020-05-13 08:10] wincent commented on #307
@bryceosterhaus IIRC, for the ones that I linked to [above](https://github.com/liferay/liferay-npm-tools/issues/307#issuecomment-608434679):

I pushed a branch directly to the upstream "liferay" repo and could see it passing there before merging. To take one example, [this is the PR adding actions to the liferay-ckeditor repo](https://github.com/liferay/liferay-ckeditor/pull/52). I pushed to a bra

[2020-05-13 09:07] wincent commented on #453
Thanks for clarifying. I was beginning to worry that my understanding of the universal laws of physics and source-formatter was flawed! 😂

[2020-05-26 09:54] izaera opened #454 "Support bundler 2 and 3 at the same time"
As a consequence of https://issues.liferay.com/browse/IFI-851, we will probably need to support both bundler 3 and 2 projects in npm-scripts. Otherwise, we need to customize every bundler 3 project by hand which can lead to a big overhead in the maintenance of the codebase during the migration.

[2020-05-26 10:00] izaera commented on #454
Currently, I'm configuring bundler 3 projects with some code like this:

- liferay-npm-bundler.config.js
[code]

As bundler 3 doesn't need presets any more (because the configuration file is `.js` and the user can do whatever he wants in it) I'm using a file inside `liferay-npm-scripts` as a kind of preset which contains the defaults and then I extend it as needed.

Now, my doubt is:

1. should we

[2020-05-26 10:33] wincent commented on #454
I'd go with "1" for consistency with what we do with pretty much all other build/config files that go via `liferay-npm-scripts` (eg. see usages of [`getMergedConfig()`](https://github.com/liferay/liferay-npm-tools/search?q=getMergedConfig&unscoped_q=getMergedConfig)). I believe we merge these configs:

- `npmscripts.config.js`
- `.prettierrc.js`
- `.babelrc.js`
- `jest.config.js` (technically, we

[2020-05-27 13:10] izaera opened #455 "Make `yarn checkFormat` ignore `.babelrc.js` file when bundler 3 is used for the build"
See [this comment](https://github.com/wincent/liferay-portal/pull/301#issuecomment-634619332)

[2020-05-27 13:11] izaera opened #456 "yarn format empties `.babelrc.js` files"
See https://github.com/wincent/liferay-portal/pull/301#issuecomment-634621120

[2020-05-27 13:21] wincent commented on #456
It does that because it thinks the presets aren't needed (it is a lint autofix), but you can get around that by [turning off the lint like I said here](https://github.com/wincent/liferay-portal/pull/301#issuecomment-634654827).

[2020-05-27 13:26] wincent commented on #455
From https://github.com/wincent/liferay-portal/pull/301#issuecomment-634654827:

I'd say it's fine to go with lint suppressions in a handful of files until we come to the point where we make this the "standard" way to do builds.

[2020-05-27 13:39] izaera commented on #456
closing this as it is the intended behavior

[2020-05-27 13:39] #456 closed

[2020-06-03 14:01] rahulahoop opened #461 "liferay-npm-scripts doesnt translate react-datetime correctly"
react-datepicker has a dependency to object-is.

Object-is's index file is like this (before translation)

[code]

This causes issue in browser "defined is not defined" because liferay-npm-scripts fails to convert this class and add the Liferay.Loader.define() to the translated file; assumedly because there is already a define fnc/method here.
In browser, it is translated like this;
![Screen Shot

[2020-06-03 14:04] wincent commented on #461
Could you please [re-file this one](https://github.com/liferay/liferay-js-toolkit/issues/new) over in the [liferay-js-toolkit repo](https://github.com/liferay/liferay-js-toolkit)? That's where the for the liferay-npm-bundler lives, which is responsible for rewriting to `Liferay.Loader.define` etc.

[2020-06-03 14:04] #461 closed

[2020-06-03 14:11] rahulahoop commented on #461
@wincent but i am using liferay-npm-scripts in my projet..

[2020-06-03 14:18] wincent commented on #461
`liferay-npm-scripts` [just calls `liferay-npm-bundler`](https://github.com/liferay/liferay-npm-tools/blob/99616001be0c1a221b84affa7ab6294bee3420f2/packages/liferay-npm-scripts/src/utils/runBundler.js#L20-L24). It has no business looking inside or modifiying the artifacts that the bundler makes. You should open the issue over on [liferay-js-toolkit](https://github.com/liferay/liferay-js-toolkit) i

[2020-06-03 14:19] rahulahoop commented on #461
already done 🙃

[2020-06-11 13:34] allen-ziegenfus opened #465 "Visual Studio code settings for prettier not working in Liferay workspace"
for liferay-npm-scripts there is some description about how to get liferay's prettier settings working in vs code:

https://www.npmjs.com/package/liferay-npm-scripts?activeTab=readme#visual-studio-code

this however assumes you're working in portal and not in liferay workspace
by making these edit hacks i was able to get it to work for one of my modules in workspace:

[code]

could that be built i

[2020-06-11 15:00] diegonvs opened #466 "Some good eslint rules from plugin-unicorn"
Recently I took a look on this package: https://github.com/sindresorhus/eslint-plugin-unicorn/tree/master/docs/rules

and there are a lot good practices in there like:

## Patterns and Regex:
https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/better-regex.md(fixable)
https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/escape-case.md(fixable)

## P

[2020-06-11 15:03] wincent commented on #466
I didn't mean "Sindre's" dependencies 😂 — I just meant dependencies in general, which can create update churn and cause noise/problems via `yarn audit`.

[2020-06-11 15:04] diegonvs commented on #466
Updated with the original content

[2020-06-11 15:16] wincent commented on #466
- One thing to bear in mind about adding rules is that the more we add, the slower our ESLint runs will get, so we want to prioritize rules which catch actually existing problems in our code base as opposed to just things that sound like a good idea in theory. So, for example, a rule like `prefer-array-find` makes obvious sense, but it's possible there are no violations of it in liferay-portal, an

[2020-06-11 17:33] bryceosterhaus commented on #466
I wonder if it's possible to have a set of "personal" eslint rules that you use locally but not push to the repo. I could imagine some rules might be nice to give yourself some hints at doing things another way, but maybe not strong enough to put them with the source.

[2020-06-11 18:04] diegonvs commented on #466
Could we add support for the other ones described here: https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prefer-modern-dom-apis.md ? 💔

This would be a good idea!

Another good option is describing these points in fe-guidelines and create our own FE PR Review Checklist ™.

Like this one:
https://gist.github.com/bigsergey/aef64f68c22b3107ccbc439025ebba12

or industrially

[2020-06-12 09:22] wincent commented on #466
Most new code should be written using React. I don't see all that much value in adding a  lot of enforcement around doing manual DOM manipulation correctly. Not saying it has zero value, just that I don't see a lot of value.

I like the idea of checklists.

[2020-06-18 07:56] wincent opened #467 "Catch whole-script indentation problems in JSP"
As seen in this PR: https://github.com/brianchandotcom/liferay-portal/pull/90231

The way our JS-in-JSP formatting works at the moment is the following:

- Extract JS.
- Pass through Prettier.
- Put JS *back where it was*.

This means that if the *entire* block is misindented (ie. too far to the left or the right) but *each line* is correctly indented relative to its neighbors, the formatting won'

[2020-06-19 07:26] wincent opened #469 "Avoid printing confusing Prettier output during "check" runs"
To avoid [this](https://github.com/liferay-frontend/liferay-portal/pull/35#issuecomment-646308767) concern that @jbalsas raised:

Copy-pasting my response:

[2020-06-19 07:27] jbalsas commented on #469
I would place this in the very low priority queue... it just got me curious, but didn't really bother me...

[2020-07-08 11:10] wincent opened #471 "Add Liferay.Util.sub() to default mocks in test environment"
As per [this thread](https://liferay.slack.com/archives/CNBG06JS3/p1594204672332000).

To replace local mocks like [this one](https://github.com/liferay/liferay-portal/blob/3994ec2ec702175c32939899392b6159acc423f3/modules/apps/layout/layout-content-page-editor-web/test/page_editor/app/plugins/comments/components/MappingSelector.test.js#L126-L128).

[2020-07-14 07:51] wincent opened #474 "Sort SCSS map entries"
As requested [here](https://github.com/brianchandotcom/liferay-portal/pull/91236#issuecomment-657665026).

Example of **incorrect** code:

[code]

Example of **correct** code:

[code]

Based on a quick search, I couldn't find any pre-existing rules that would do this for us, so I believe we'll have to cook up a custom rule.

[2020-07-14 16:26] pat270 commented on #474
@wincent I don't think sorting SCSS map entries is the right thing to do right now. We have maps like:
[code]
where the first entry needs to be 0 and values be ascending. Bootstrap's grid mixins depends on the order being correct so the styles cascade properly.

The map:
[code]
would output:
[code]
The markup `<div class="col-sm-6 col-md-4 col-lg 3">` will always be 50% wide when the screen is >=

[2020-07-14 16:39] pat270 commented on #474
I just thought of an idea.
[code]
No sorting needed here!

[2020-07-15 07:17] wincent commented on #474
Well that's a bummer. I thought the maps were *unordered collections*.

[2020-07-15 07:17] #474 closed

[2020-07-15 07:20] wincent commented on #474
(Closed because I'd rather not implement a more subtle/complicated version of this rule — sort unless separated by blank line — unless Brian asks for this again.)

[2020-07-15 16:50] pat270 commented on #474
We can revisit this when we refactor the Bootstrap stuff, then
![lets-pho-it-up](https://user-images.githubusercontent.com/788266/87572576-9b30c680-c680-11ea-9b94-1125932ba1c4.gif)

[2020-07-18 08:53] wincent opened #475 "Enforce blank lines before and after line comments in SCSS"
Requested [here](https://github.com/brianchandotcom/liferay-portal/pull/91478#issuecomment-660157496).

[Example change](https://github.com/brianchandotcom/liferay-portal/commit/efc9681b982c6ad6f7b00a324af88b171df1f034):

**Incorrect:**

[code]

**Correct:**

[code]

We did an analogous thing for JS in [eslint-config-liferay#170](https://github.com/liferay/eslint-config-liferay/pull/170).

[2020-07-20 07:36] wincent commented on #475
Another request [here](https://github.com/brianchandotcom/liferay-portal/pull/91507#issuecomment-660792019).

[2020-07-27 12:31] wincent opened #476 "Enforce consistent SCSS variable format"
Doesn't seem to have been on [our list here](https://github.com/liferay/liferay-npm-tools/issues/344), but came up in [review here](https://github.com/liferay-frontend/liferay-portal/pull/164#discussion_r460839898).

eg. `$sidebarWidth` (camel case) vs `$zindex-dropdown` (kebab case).

First of all, need to:

- Survey to see which formats we are currently using.
- Decide on desired format, and whe

[2020-07-27 12:48] eduardoallegrini commented on #476
in Clay-CSS we are using kebab-case [example](https://github.com/liferay/clay/blob/master/packages/clay-css/src/scss/variables/_globals.scss) and [definition](https://github.com/liferay/clay/blob/master/packages/clay-css/CONTRIBUTING.md)

[2020-07-27 18:39] pat270 commented on #219
For reference, these are the only properties in Clay CSS that autoprefixer would prefix:
- `appearance`
- `user-select`
- `overflow-wrap`/`word-wrap` ?

[2020-07-28 09:34] eduardoallegrini commented on #219
I think it depends on the configuration of the [Autoprefixer](https://github.com/postcss/autoprefixer) and [Browserslist](https://github.com/browserslist/browserslist). I tried to look for the list but I couldn't find it, but for what I remember of working on the compat-layer (where some mixins were using prefixes) the list was very short, so I think you might be right 🤔

[2020-08-03 18:30] diegonvs opened #478 "License checker for dependencies"
While navigating thru open source code this weekend I found this documentation and the implementation for a "dependency-linter-like" script.

From script docs:

[code]

### See:

Docs: https://github.com/microsoft/essex-alpha-build-infra/blob/main/packages/scripts/docs/audit.md#license-to-fail
Code(?): https://github.com/microsoft/essex-alpha-build-infra/blob/main/packages/steps/audit/src/index.ts

[2020-08-05 07:10] wincent opened #479 "Enforce import of "atlas-variables", not "atlas""
Came up in Slack again (sorry, private links) [yesterday](https://liferay.slack.com/archives/G3JBR21HA/p1596609554431100?thread_ts=1596541545.375900&cid=G3JBR21HA) ([previously](https://liferay.slack.com/archives/G015CFV9U5C/p1592398480006400), which references discussion in [other](https://liferay.slack.com/archives/C25TXMD63/p1591263042012900) [places](https://liferay.slack.com/archives/CNBG06JS

[2020-08-12 08:23] wincent commented on #409
So JS side of this was done a while back, and I created (duplicate) https://github.com/liferay/liferay-npm-tools/issues/475 for the SCSS side because I forgot about this ticket.

May as well close this one and keep the other one for SCSS. I edited the description to reflect that.

[2020-08-12 08:23] #409 closed

[2020-08-13 15:34] wincent opened #480 "Enforce order of continuous CSS custom properties"
Spin off from https://github.com/brianchandotcom/liferay-portal/pull/92536#issuecomment-672025780

We have some manual fixing to do (see [LPS-119076](https://issues.liferay.com/browse/LPS-119076)), but we can also do some automated enforcement: consecutive CSS variables should be sorted, with blank lines used to separate groups (no sorting should occur across group boundaries).

Example of **unsor

[2020-09-04 10:49] wincent opened #491 "Do periodic security update (yarn audit)"
We have a few Dependabot PRs open right now:

- #413 (acorn)
- #434 (minimist)
- #464 (websocket-extensions)
- #477 (elliptic)
- #488 (markdown-to-jsx)
- #489 (node-sass)

and it is time to do a manual `yarn audit` and see what updates can safely be applied (with the help of `yarn upgrade-interactive` and `yarn outdated`).

Now, I have opened [#490](https://github.com/liferay/liferay-npm-tools/pul

[2020-09-07 08:19] #415 closed

[2020-09-07 08:32] wincent commented on #491
One more: https://github.com/liferay/liferay-npm-tools/pull/492

[2020-09-07 09:03] wincent commented on #491
Adding: https://github.com/liferay/liferay-npm-tools/pull/493 (minimist)

[2020-09-07 21:19] wincent opened #494 "Format hex color codes in JSON files"
Brought up here: https://github.com/liferay-frontend/liferay-portal/pull/368#discussion_r484553713

[2020-09-08 07:17] jbalsas commented on #494
Hey @wincent, I don't have a particular interest in this one. It's probably not widespread enough so that we would greatly benefit from it, so I would be inclined to just drop it until we have hard evidence this is needed 🤷

[2020-09-08 07:24] wincent commented on #494
![let-it-be](https://user-images.githubusercontent.com/7074/92445688-fc72a300-f1b4-11ea-8c0b-30738d1b132f.gif)

Just let it be. I get paid according to the number of issues I create, you know.

[2020-09-08 07:28] jbalsas commented on #494
![showmethemoney](https://user-images.githubusercontent.com/905006/92446117-a0f4e500-f1b5-11ea-830b-8f3b792c11f9.gif)

[2020-09-14 13:21] victorg1991 opened #496 "Include @testing-library/react-hooks library"
Could we include the `@testing-library/react-hooks` library to be used within the tests? https://github.com/testing-library/react-hooks-testing-library

We had some misunderstandings and the library is already included in the portal workspace because it is added in [portal-workflow-metrics-web package.json](https://github.com/liferay/liferay-portal/blob/f86d976d9f59933928199ee8b57ebee1c88efbd7/mod

[2020-09-18 08:18] wincent commented on #491
Adding: https://github.com/liferay/liferay-npm-tools/pull/495 (http-proxy)

[2020-09-18 08:24] wincent commented on #496
I'm testing a release of the script with this new dependency today.

[2020-09-18 09:31] #496 closed

[2020-09-18 10:11] wincent commented on #496
I cut a release and folded it into [this PR](https://github.com/liferay-frontend/liferay-portal/pull/384), so follow along there if you want to track when this gets into liferay-portal.

[2020-09-21 07:00] wincent commented on #491
Adding: https://github.com/liferay/liferay-npm-tools/pull/501 (`@babel/plugin-proposal-object-rest-spread`)

[2020-09-21 10:23] wincent opened #502 "feat: add additional methods to Liferay test mock"
As noted [here](https://github.com/liferay-frontend/liferay-portal/pull/384/files/6f23b10c2382e24ee3de00afdedd5198d6eb7c5a#r491921885), seems there are some tests that could benefit from these methods being added to the standard Liferay test mock:

- `Liferay.Session.extend()`
- `Liferay.ThemeDisplay.getUserId()`
- `Liferay.ThemeDisplay.getUserName()`

[2020-09-25 07:37] wincent commented on #402
Before I transfer this, just noting that I edited the summary to reflect that we've done the first part of this already:

but still need to do the second:

[2020-09-25 07:41] wincent commented on #455
I was going to close this one instead of transferring it, but seeing as we are still a long way off from v3 being used everywhere, I figure it is worth keeping around to see whether we need to do something after all.

[2020-09-25 07:44] wincent commented on #491
Superseded by: https://github.com/liferay/liferay-frontend-projects/issues/2

[2020-09-25 07:44] #491 closed

[2020-09-25 07:47] wincent commented on #106
Closing this one due to inactivity and because we aren't investing in Soy at all at this point. If there is still a demand for it, we can re-open this issue over at: https://github.com/liferay/liferay-frontend-projects/issues

[2020-09-25 07:47] #106 closed

[2020-09-25 07:47] wincent commented on #137
Closing this one due to inactivity and I need to clean out this repo before archiving it.

If there is still a demand for it, we can re-open this issue over at: https://github.com/liferay/liferay-frontend-projects/issues (which is where this repo has been migrated).

[2020-09-25 07:47] #137 closed